# 2020 Data
- We will be attempting to predict the GFSI of a country in 5 years based on certain factors.
- Tests will be ran with 2020 Data first

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Reading Excel files for 2020

In [16]:
gfsi_2020 = pd.read_excel("2020 GFSI by country.xlsx")
display(gfsi_2020)

     Rank         Country  Score/100 (GFSI）
0       1         Finland              85.3
1       2         Ireland              83.8
2       3     Netherlands              79.9
3       4         Austria              79.4
4       5  Czech Republic              78.6
..    ...             ...               ...
108   109    Sierra Leone              37.0
109   110          Malawi              36.7
110   111          Zambia              36.6
111   112           Sudan              36.0
112   113           Yemen              35.7

[113 rows x 3 columns]