# 2D DDW

## Imports

In [477]:
# import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Data Extraction and Cleaning

For our project, the 6 factors that we are using to predict food security are:
1. GDP per capita adjusted for PPP
2. Agricultural land per capita
3. Percentage of population with basic water service
4. Percentage of population with eating disorder
5. Percentage of population employed in agriculture forestry fishery
6. $CO_{2}$ emitted per agricultural land area

As such, we have obtained the following raw data for all the countries:
1. Amount of agricultural land allocated per countries (in $km^{2}$)
2. Percentage of population with access to basic drinking water

The code below extracts the relevant data from each file and processses it to match our 6 factors.

### Extract food supply data for 2018

The following code extracts the total food supply for each country in 2018. This data is extracted from "DDW_Food Supply.csv".

In [612]:
# read food supply csv
df_food_supply = pd.read_csv("DDW_Food Supply.csv")
# extract values only when item is "Grand Total"
df_grand_total = df_food_supply[(df_food_supply["Item"] == "Grand Total")]
# extract year 2013-2017 values
dfyears_food_supply = df_grand_total[(df_grand_total["Year"]==2012)]
# extract year, country and food supply
dfyears_food_supply = dfyears_food_supply[["Year", "Area", "Value"]]
dfyears_food_supply = dfyears_food_supply.rename(columns = {"Area": "Country", "Value": "Food_supply"})
# set index from 0
dfyears_food_supply = dfyears_food_supply.reset_index(drop=True)
# print dataframe
dfyears_food_supply

     Year                                  Country  Food_supply
0    2012                              Afghanistan         2159
1    2012                                  Albania         3288
2    2012                                  Algeria         3366
3    2012                                   Angola         2389
4    2012                      Antigua and Barbuda         2417
..    ...                                      ...          ...
208  2012                Least Developed Countries         2372
209  2012         Land Locked Developing Countries         2496
210  2012           Small Island Developing States         2627
211  2012        Low Income Food Deficit Countries         2435
212  2012  Net Food Importing Developing Countries         2512

[213 rows x 3 columns]

##### Finding the unique countries in food supply data

In [613]:
df_food_supply_countries = dfyears_food_supply.Country.unique()
# print(df_food_supply_countries)

### Extract minimum calorie intake data for 2018

In [614]:
# read minimum calorie intake csv
df_min_cal_intake = pd.read_csv("DDW_Min Cal Intake.csv")
# extract values that are not missing
df_min_cal_intake = df_min_cal_intake[df_min_cal_intake["Value"].notna()]
# extract year 2013 - 2017 values
dfyears_min_cal = df_min_cal_intake[(df_min_cal_intake["Year"]==2012)]
# extract year, country and values
dfyears_min_cal = dfyears_min_cal[["Year", "Area", "Value"]]
dfyears_min_cal = dfyears_min_cal.rename(columns = {"Area": "Country", "Value":"Mininum_calorie_intake"})
# set index from 0
dfyears_min_cal = dfyears_min_cal.reset_index(drop=True)
# print dataframe
dfyears_min_cal

     Year                             Country  Mininum_calorie_intake
0    2012                         Afghanistan                  1645.0
1    2012                             Albania                  1915.0
2    2012                             Algeria                  1798.0
3    2012                              Angola                  1652.0
4    2012                 Antigua and Barbuda                  1883.0
..    ...                                 ...                     ...
183  2012                             Vanuatu                  1692.0
184  2012  Venezuela (Bolivarian Republic of)                  1811.0
185  2012                            Viet Nam                  1790.0
186  2012                               Yemen                  1688.0
187  2012                            Zimbabwe                  1731.0

[188 rows x 3 columns]

##### Finding the unique countries in minimum calorie intake data

In [615]:
df_min_cal_intake_countries = dfyears_min_cal.Country.unique()
# print(df_min_cal_intake_countries)

### Extract GDP per capita data for 2018

In [616]:
# read GDP, adjusted for PPP, per capita csv
df_GDP = pd.read_csv("DDW_GDP per capita adjusted.csv")
# extract values that are not missing
df_GDP = df_GDP[(df_GDP["Value"].notna())]
# extract year 2013-2017 values
dfyears_GDP = df_GDP[(df_GDP["Year"]==2012)]
# extract year, country and value
dfyears_GDP = dfyears_GDP[["Year","Area","Value"]]
dfyears_GDP = dfyears_GDP.rename(columns = {"Area": "Country", "Value":"GDP"})
# set index from 0
dfyears_GDP = dfyears_GDP.reset_index(drop=True)
# print data frame
dfyears_GDP

     Year              Country      GDP
0    2012          Afghanistan   2075.5
1    2012              Albania  11228.0
2    2012              Algeria  11233.5
3    2012               Angola   8037.7
4    2012  Antigua and Barbuda  17966.3
..    ...                  ...      ...
180  2012           Uzbekistan   5472.8
181  2012              Vanuatu   3046.3
182  2012             Viet Nam   6911.7
183  2012               Zambia   3339.3
184  2012             Zimbabwe   3674.9

[185 rows x 3 columns]

#### List of unique countries for GDP per capita data

In [617]:
df_GDP_countries = dfyears_GDP.Country.unique()
# print(df_GGDP_countries)

### Extract total population data for 2018

In [620]:
# read total population employed csv
df_pop = pd.read_csv("DDW_Population.csv")
# extract year 2013 - 2017 values
dfyears_population = df_pop[(df_pop["year"]==2012)]
# extract values that are not missing
dfyears_population = dfyears_population[dfyears_population["population"].notna()]
# extract year, country and population value
dfyears_population = dfyears_population[["year", "country", "population"]]
dfyears_population = dfyears_population.rename(columns = {"year": "Year", "country": "Country", "population":"Population"})
# set index from 0
dfyears_population = dfyears_population.reset_index(drop=True)
# print dataframe
dfyears_population

     Year            Country    Population
0    2012        Afghanistan  3.116138e+07
1    2012             Africa  1.094343e+09
2    2012            Albania  2.914091e+06
3    2012            Algeria  3.738390e+07
4    2012            Andorra  8.242700e+04
..    ...                ...           ...
226  2012  Wallis and Futuna  1.236900e+04
227  2012              World  7.126135e+09
228  2012              Yemen  2.447318e+07
229  2012             Zambia  1.446515e+07
230  2012           Zimbabwe  1.311515e+07

[231 rows x 3 columns]

#### Getting unique countries for population data

In [621]:
df_pop_coutries = dfyears_population.Country.unique()

### Extract land area used for agriculture data for 2018

In [622]:
df_agriculture = pd.read_csv("DDW_Agricultural Land.csv")

# extract countries...
dfyears_agriculture = df_agriculture[["Country Name","2012"]]
# remove rows with no value (NaN)
dfyears_agriculture = dfyears_agriculture.dropna()
dfyears_agriculture.insert(0, "Year", 2012)
dfyears_agriculture = dfyears_agriculture.rename(columns = {"2012": "Agri_land", "Country Name": "Country"})
dfyears_agriculture

     Year                      Country    Agri_land
0    2012                        Aruba       20.000
1    2012  Africa Eastern and Southern  6441140.365
2    2012                  Afghanistan   379100.000
3    2012   Africa Western and Central  3552415.200
4    2012                       Angola   536221.240
..    ...                          ...          ...
260  2012                        Samoa      545.000
262  2012                  Yemen, Rep.   235010.000
263  2012                 South Africa   963410.000
264  2012                       Zambia   238360.000
265  2012                     Zimbabwe   162000.000

[257 rows x 3 columns]

In [623]:
df_agriculture_countries = dfyears_agriculture.Country.unique()

#### Getting unique countries for Agriculture data

### Extract CO2 (in million metric tonnes) data for 2018

In [624]:
df_co2 = pd.read_csv("DDW_CO2.csv")
dfyears_co2 = df_co2[(df_co2["year"]==2012)]
dfyears_co2 = dfyears_co2[dfyears_co2["co2"].notna()]
dfyears_co2 = dfyears_co2[["year","country","co2"]]
dfyears_co2 = dfyears_co2.rename(columns = {"year": "Year", "country": "Country", "co2": "CO2"})
dfyears_co2 = dfyears_co2.reset_index(drop=True)
dfyears_co2

     Year            Country        CO2
0    2012        Afghanistan     10.219
1    2012             Africa   1253.144
2    2012            Albania      4.668
3    2012            Algeria    128.111
4    2012            Andorra      0.487
..    ...                ...        ...
232  2012  Wallis and Futuna      0.026
233  2012              World  34974.074
234  2012              Yemen     18.268
235  2012             Zambia      4.166
236  2012           Zimbabwe      7.883

[237 rows x 3 columns]

#### Getting unique countries for $CO_{2}$ data

In [625]:
df_co2_countries = dfyears_co2.Country.unique()

### Extract basic water drinking services data for 2018

In [626]:
df_water = pd.read_csv("DDW_Basic Water Drinking Services.csv")
df_water = df_water[df_water["Value"].notna()]
dfyears_water = df_water[(df_water["Year"]==2012)]
dfyears_water = dfyears_water[["Year", "Area", "Value"]]
dfyears_water = dfyears_water.rename(columns = {"Area": "Country", "Value": "Basic_water"})
dfyears_water = dfyears_water.reset_index(drop=True)
dfyears_water

     Year                         Country  Basic_water
0    2012                     Afghanistan         53.4
1    2012                         Albania         92.2
2    2012                         Algeria         92.7
3    2012                  American Samoa         99.0
4    2012                         Andorra         99.0
..    ...                             ...          ...
234  2012  Small Island Developing States         82.1
235  2012            Low income economies         52.0
236  2012   Lower-middle-income economies         83.8
237  2012           High-income economies         99.0
238  2012   Upper-middle-income economies         91.8

[239 rows x 3 columns]

#### Getting unique countries for basic water drinking services data

In [627]:
df_water_countries = dfyears_water.Country.unique()

### Extract Eating Disorder data for 2018

In [628]:
df_eating_disorder = pd.read_csv("DDW_Eating Disorder.csv")
df_eating_disorder = df_eating_disorder[df_eating_disorder["Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)"].notna()]
df_eating_disorder = df_eating_disorder.rename(columns = {"Entity": "Country", "Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)":"Prevalence"})
dfyears_eating_disorder = df_eating_disorder[(df_eating_disorder["Year"]==2012)]
dfyears_eating_disorder = dfyears_eating_disorder[["Year", "Country", "Prevalence"]]
dfyears_eating_disorder = dfyears_eating_disorder.rename(columns = {"Prevalence": "Eating_disorder"})
dfyears_eating_disorder = dfyears_eating_disorder.reset_index(drop=True)
dfyears_eating_disorder

     Year                         Country  Eating_disorder
0    2012                     Afghanistan             0.11
1    2012            African Region (WHO)             0.11
2    2012                         Albania             0.13
3    2012                         Algeria             0.21
4    2012                  American Samoa             0.14
..    ...                             ...              ...
223  2012  World Bank Lower Middle Income             0.12
224  2012  World Bank Upper Middle Income             0.16
225  2012                           Yemen             0.15
226  2012                          Zambia             0.11
227  2012                        Zimbabwe             0.10

[228 rows x 3 columns]

#### Getting unique countries for eating disorder data

In [629]:
df_eating_disorder_countries = dfyears_eating_disorder.Country.unique()

### Extract number of people employed in agriculture data for 2018

In [630]:
df_employment = pd.read_csv("DDW_Employment In Agriculture.csv")
df_employment = df_employment[df_employment["Value"].notna()]
dfyears_employment = df_employment[(df_employment["Year"]==2012)]
dfyears_employment = dfyears_employment[["Year", "Area", "Value"]]
dfyears_employment["Value"] = dfyears_employment["Value"]*1000
dfyears_employment = dfyears_employment.rename(columns = {"Area": "Country", "Value":"Employed_num"})
dfyears_employment = dfyears_employment.reset_index(drop=True)
dfyears_employment

     Year                             Country  Employed_num
0    2012                         Afghanistan     2477079.0
1    2012                             Albania      521184.0
2    2012                           Argentina       66354.0
3    2012                             Armenia      437159.0
4    2012                           Australia      317115.0
..    ...                                 ...           ...
109  2012                             Uruguay      134475.0
110  2012                          Uzbekistan     3251700.0
111  2012  Venezuela (Bolivarian Republic of)      958249.0
112  2012                            Viet Nam    24347933.0
113  2012                              Zambia     3005855.0

[114 rows x 3 columns]

#### Getting unique countries for population employed

In [631]:
df_employment_countries = dfyears_employment.Country.unique()

### Create list of common countries

In [632]:
set1 = set(df_food_supply_countries)
set2 = set(df_min_cal_intake_countries)
set3 = set(df_GDP_countries)
set4 = set(df_pop_coutries)
set5 = set(df_agriculture_countries)
set6 = set(df_co2_countries)
set7 = set(df_water_countries)
set8 = set(df_eating_disorder_countries)
set9 = set(df_employment_countries)

countries = list(set1 & set2 & set3 & set4 & set5 & set6 & set7 & set8 & set9)
print(countries)
print(len(countries))

['Sri Lanka', 'Austria', 'Armenia', 'Brazil', 'Rwanda', 'Australia', 'Lithuania', 'Czechia', 'Estonia', 'Montenegro', 'Philippines', 'Ecuador', 'Costa Rica', 'Azerbaijan', 'Saudi Arabia', 'Morocco', 'Latvia', 'India', 'Norway', 'Thailand', 'Cyprus', 'Mexico', 'Sweden', 'Jamaica', 'Iceland', 'Serbia', 'Spain', 'Uganda', 'Namibia', 'Nicaragua', 'Slovenia', 'Italy', 'Guatemala', 'Bosnia and Herzegovina', 'Honduras', 'Mauritius', 'Portugal', 'Germany', 'Israel', 'Poland', 'Chile', 'Denmark', 'Dominican Republic', 'Madagascar', 'Kazakhstan', 'Afghanistan', 'Malaysia', 'France', 'Argentina', 'Mongolia', 'Peru', 'Hungary', 'Romania', 'Malta', 'Paraguay', 'Haiti', 'Japan', 'Greece', 'El Salvador', 'Ukraine', 'Luxembourg', 'Ireland', 'Bulgaria', 'Canada', 'Georgia', 'New Zealand', 'South Africa', 'Switzerland', 'Netherlands', 'Belgium', 'Colombia', 'Liberia', 'Cambodia', 'Samoa', 'Albania', 'Uzbekistan', 'Finland', 'Uruguay', 'Trinidad and Tobago', 'North Macedonia', 'Barbados', 'Panama', 'Tunisia', 'Indonesia']
84

### With the list of common countries, we are now able to continue combining our dataframes ...

### Calculate food supply to mininum calorie intake ratio 
done by finding (food supply)/(mininum calorie intake)

In [633]:
dfyears_food_supply = dfyears_food_supply[dfyears_food_supply["Country"].isin(countries)]
dfyears_min_cal = dfyears_min_cal[dfyears_min_cal["Country"].isin(countries)]

dfyears_y_value = dfyears_food_supply.copy()
dfyears_y_value["Mininum_calorie_intake"] = list(dfyears_min_cal["Mininum_calorie_intake"])
dfyears_y_value["y_ratio"] = dfyears_y_value["Food_supply"]/dfyears_y_value["Mininum_calorie_intake"]
dfyears_y_value = dfyears_y_value.reset_index(drop=True)
dfyears_y_value

    Year      Country  Food_supply  Mininum_calorie_intake   y_ratio
0   2012  Afghanistan         2159                  1645.0  1.312462
1   2012      Albania         3288                  1915.0  1.716971
2   2012    Argentina         3176                  1857.0  1.710285
3   2012      Armenia         2972                  1880.0  1.580851
4   2012    Australia         3437                  1916.0  1.793841
..   ...          ...          ...                     ...       ...
79  2012      Tunisia         3393                  1832.0  1.852074
80  2012       Uganda         2305                  1678.0  1.373659
81  2012      Ukraine         3171                  1914.0  1.656740
82  2012      Uruguay         3120                  1859.0  1.678322
83  2012   Uzbekistan         3114                  1843.0  1.689636

[84 rows x 5 columns]

### Calculate Agriculture Land per capita (in sq m^2 per capita)

In [634]:
dfyears_agriculture = dfyears_agriculture[dfyears_agriculture["Country"].isin(countries)]
dfyears_population = dfyears_population[dfyears_population["Country"].isin(countries)]

dfyears_agriculture_per_pop = dfyears_agriculture.copy()
dfyears_agriculture_per_pop["Total_population"] = list(dfyears_population["Population"])
dfyears_agriculture_per_pop["Agri_land_cap"] = (dfyears_agriculture_per_pop["Agri_land"]/dfyears_agriculture_per_pop["Total_population"])*1000000
dfyears_agriculture_per_pop = dfyears_agriculture_per_pop.reset_index(drop=True)
dfyears_agriculture_per_pop

    Year       Country  Agri_land  Total_population  Agri_land_cap
0   2012   Afghanistan   379100.0        31161378.0   12165.700759
1   2012       Albania    12013.0         2914091.0    4122.383275
2   2012     Argentina  1247419.0        41755188.0   29874.587081
3   2012       Armenia    16830.0         2884239.0    5835.161372
4   2012     Australia  3870760.0        22903952.0  168999.655605
..   ...           ...        ...               ...            ...
79  2012       Ukraine   412970.0        10846993.0   38072.302619
80  2012       Uruguay   142370.0        34558700.0    4119.657279
81  2012    Uzbekistan   252360.0        45453804.0    5552.010564
82  2012         Samoa      545.0         3378975.0     161.291516
83  2012  South Africa   963410.0        29449414.0   32714.063512

[84 rows x 5 columns]

### Calculate percentage of population employed in the agriculture industry

In [635]:
dfyears_employment = dfyears_employment[dfyears_employment["Country"].isin(countries)]
dfyears_population = dfyears_population[dfyears_population["Country"].isin(countries)]

dfyears_percentage_employed = dfyears_employment.copy()
dfyears_percentage_employed["Total_population"] = list(dfyears_population["Population"])
dfyears_percentage_employed["Employed_%"] = (dfyears_percentage_employed["Employed_num"]/dfyears_percentage_employed["Total_population"])*100
dfyears_percentage_employed = dfyears_percentage_employed.reset_index(drop=True)
dfyears_percentage_employed

    Year      Country  Employed_num  Total_population  Employed_%
0   2012  Afghanistan     2477079.0        31161378.0    7.949196
1   2012      Albania      521184.0         2914091.0   17.884960
2   2012    Argentina       66354.0        41755188.0    0.158912
3   2012      Armenia      437159.0         2884239.0   15.156823
4   2012    Australia      317115.0        22903952.0    1.384543
..   ...          ...           ...               ...         ...
79  2012      Tunisia      550012.0        10846993.0    5.070640
80  2012       Uganda     7012061.0        34558700.0   20.290292
81  2012      Ukraine     4022800.0        45453804.0    8.850304
82  2012      Uruguay      134475.0         3378975.0    3.979757
83  2012   Uzbekistan     3251700.0        29449414.0   11.041646

[84 rows x 5 columns]

### Calculate co2 per agricultural land (in kg per m^2)

In [636]:
dfyears_co2 = dfyears_co2[dfyears_co2["Country"].isin(countries)]
dfyears_agriculture = dfyears_agriculture[dfyears_agriculture["Country"].isin(countries)]


dfyears_co2_per_land = dfyears_co2.copy()
dfyears_co2_per_land["Agri_land"] = list(dfyears_agriculture["Agri_land"])
dfyears_co2_per_land["CO2_agri"] = (dfyears_co2_per_land["CO2"]/dfyears_co2_per_land["Agri_land"])*1000
dfyears_co2_per_land = dfyears_co2_per_land.reset_index(drop=True)
dfyears_co2_per_land

    Year      Country      CO2  Agri_land   CO2_agri
0   2012  Afghanistan   10.219   379100.0   0.026956
1   2012      Albania    4.668    12013.0   0.388579
2   2012    Argentina  191.715  1247419.0   0.153689
3   2012      Armenia    5.748    16830.0   0.341533
4   2012    Australia  402.666  3870760.0   0.104028
..   ...          ...      ...        ...        ...
79  2012      Tunisia   26.306   412970.0   0.063700
80  2012       Uganda    3.627   142370.0   0.025476
81  2012      Ukraine  303.976   252360.0   1.204533
82  2012      Uruguay    8.592      545.0  15.765138
83  2012   Uzbekistan  114.891   963410.0   0.119255

[84 rows x 5 columns]

### Filtering the rest of the dataframes needed based on the list of common countries

In [637]:
dfyears_GDP = dfyears_GDP[dfyears_GDP["Country"].isin(countries)]
dfyears_GDP = dfyears_GDP.reset_index(drop=True)
dfyears_water = dfyears_water[dfyears_water["Country"].isin(countries)]
dfyears_water = dfyears_water.reset_index(drop=True)
dfyears_eating_disorder = dfyears_eating_disorder[dfyears_eating_disorder["Country"].isin(countries)]
dfyears_eating_disorder = dfyears_eating_disorder.reset_index(drop=True)

### Combining all the variables into 1 data frame, filtering the data based on the countries available in countries list

In [638]:
dfyears_combined = dfyears_y_value.loc[:, ["Country", "y_ratio"]]
dfyears_combined["GDP"] = dfyears_GDP.loc[:, "GDP"]
dfyears_combined["Agri_land_cap"] = dfyears_agriculture_per_pop.loc[:, "Agri_land_cap"]
dfyears_combined["Basic_water"] = dfyears_water.loc[:, "Basic_water"]
dfyears_combined["Eating_disorder"] = dfyears_eating_disorder.loc[:, "Eating_disorder"]
dfyears_combined["Employed_%"] = dfyears_percentage_employed.loc[:, "Employed_%"]
dfyears_combined["CO2_agri"] = dfyears_co2_per_land.loc[:, "CO2_agri"]
dfyears_combined.insert(0, "Year", 2012)
dfyears_combined = dfyears_combined.reset_index(drop=True)
dfyears_combined

,Year,Country,y_ratio,GDP,Agri_land_cap,Basic_water,Eating_disorder,Employed_%,CO2_agri
0,2012,Afghanistan,1.312462,2075.5,12165.700759,53.4,0.11,7.949196,0.026956
1,2012,Albania,1.716971,11228.0,4122.383275,92.2,0.13,17.884960,0.388579
2,2012,Argentina,1.710285,24118.9,29874.587081,98.8,0.34,0.158912,0.153689
3,2012,Armenia,1.580851,10397.7,5835.161372,98.8,0.13,15.156823,0.341533
4,2012,Australia,1.793841,46350.9,168999.655605,99.0,1.10,1.384543,0.104028
...,...,...,...,...,...,...,...,...,...
79,2012,Tunisia,1.852074,10743.8,38072.302619,93.0,0.21,5.070640,0.063700
80,2012,Uganda,1.373659,1996.9,4119.657279,43.2,0.09,20.290292,0.025476
81,2012,Ukraine,1.656740,12985.1,5552.010564,94.2,0.13,8.850304,1.204533
82,2012,Uruguay,1.678322,20885.1,161.291516,98.7,0.35,3.979757,15.765138
83,2012,Uzbekistan,1.689636,5472.8,32714.063512,96.8,0.11,11.041646,0.119255

In [611]:
# convert the dataframe to a csv for each year
dfyears_combined.to_csv("df2012_combined.csv")

#### Combinining the dataframes for years 2013 to 2017 into 1 dataframe

In [456]:
# read the csv for each year
df2013_combined = pd.read_csv("df2013_combined.csv")
df2014_combined = pd.read_csv("df2014_combined.csv")
df2015_combined = pd.read_csv("df2015_combined.csv")
df2016_combined = pd.read_csv("df2016_combined.csv")
df2017_combined = pd.read_csv("df2017_combined.csv")

In [472]:
# combine all the 5 dataframes in 1
dfallyears_combined = pd.concat([df2013_combined, df2014_combined, df2015_combined, df2016_combined, df2017_combined])
dfallyears_combined = dfallyears_combined.drop(columns = "Unnamed: 0")
dfallyears_combined = dfallyears_combined.reset_index(drop=True)
#dfallyears_combined.to_csv("dfallyears_combined.csv")
dfallyears_combined

,Country,y_ratio,GDP,Agri_land_cap,Basic_water,Eating_disorder,Employed_%,CO2_agri
0,Albania,1.718685,11361.3,4.088797e+03,92.6,0.14,15.527752,0.415059
1,Algeria,1.914206,11319.1,3.223308e+04,93.0,0.22,2.991599,0.107726
2,Argentina,1.728202,24424.1,3.988526e+02,98.9,0.35,0.159302,11.297267
3,Armenia,1.607238,10691.3,1.283048e+06,99.0,0.13,14.568022,0.001489
4,Australia,1.790601,46744.6,1.168097e+03,99.0,1.10,1.286984,14.473973
...,...,...,...,...,...,...,...,...
433,Uganda,1.199055,2074.7,1.007832e+04,51.0,0.10,9.947975,0.012953
434,Ukraine,1.604822,11860.6,3.197040e+03,93.8,0.13,5.595703,1.568492
435,United Arab Emirates,1.503178,67183.6,2.691330e+04,99.0,0.31,0.694166,0.661221
436,Uruguay,1.696937,23009.9,1.804085e+02,99.0,0.38,4.181898,9.940323
437,Uzbekistan,1.738445,6840.7,3.014446e+04,97.8,0.12,11.487253,0.111223

### Remove outliers and normalise data using min-max normalisation

In [473]:
def identify_outlier(dataframe, i):
    q3 = dataframe[i].quantile(q=0.75)
    q1 = dataframe[i].quantile(q=0.25)
    IQR = q3 - q1
    upper_outlier = q3 + 1.5*IQR
    lower_outlier = q1 - 1.5*IQR
    return upper_outlier, lower_outlier

def normalize_z(dfin):
    dfout = (dfin - dfin.mean(axis=0))/dfin.std(axis=0)
    return dfout

In [474]:
def drop_outlier_value(df, column, outlier_value):
    return df[column] <= outlier_value[0] and df[column] >= outlier_value[1]

## Before standardisation (keith clean)

In [475]:
#dfallyears_combined_1 = dfallyears_combined.loc[(drop_outlier_value(dfallyears_combined, "GDP_per_capita_adjusted_for_PPP", outlier_value)), :]

dfallyears_combined_1 = dfallyears_combined.loc[(dfallyears_combined["GDP"] <= identify_outlier(dfallyears_combined, "GDP")[0]) &(dfallyears_combined["GDP"] >= identify_outlier(dfallyears_combined, "GDP")[1]), :]
dfallyears_combined_2 = dfallyears_combined.loc[(dfallyears_combined["Agri_land_cap"] <= identify_outlier(dfallyears_combined, "Agri_land_cap")[0]) &(dfallyears_combined["Agri_land_cap"] >= identify_outlier(dfallyears_combined, "Agri_land_cap")[1]), :]
dfallyears_combined_3 = dfallyears_combined.loc[(dfallyears_combined["Basic_water"] <= identify_outlier(dfallyears_combined, "Basic_water")[0]) &(dfallyears_combined["Basic_water"] >= identify_outlier(dfallyears_combined, "Basic_water")[1]), :]
dfallyears_combined_4 = dfallyears_combined.loc[(dfallyears_combined["Eating_disorder"] <= identify_outlier(dfallyears_combined, "Eating_disorder")[0]) &(dfallyears_combined["Eating_disorder"] >= identify_outlier(dfallyears_combined, "Eating_disorder")[1]), :]
dfallyears_combined_5 = dfallyears_combined.loc[(dfallyears_combined["Employed_%"] <= identify_outlier(dfallyears_combined, "Employed_%")[0]) &(dfallyears_combined["Employed_%"] >= identify_outlier(dfallyears_combined, "Employed_%")[1]), :]
dfallyears_combined_6 = dfallyears_combined.loc[(dfallyears_combined["CO2_agri"] <= identify_outlier(dfallyears_combined, "CO2_agri")[0]) &(dfallyears_combined["CO2_agri"] >= identify_outlier(dfallyears_combined, "CO2_agri")[1]), :]
dfallyears_combined_1
#dfallyears_combined_6 = dfallyears_combined.reset_index(drop=True)
#dfallyears_combined_6
#identify_outlier(dfallyears_combined_1, "GDP_per_capita_adjusted_for_PPP")

,Country,y_ratio,GDP,Agri_land_cap,Basic_water,Eating_disorder,Employed_%,CO2_agri
0,Albania,1.718685,11361.3,4.088797e+03,92.6,0.14,15.527752,0.415059
1,Algeria,1.914206,11319.1,3.223308e+04,93.0,0.22,2.991599,0.107726
2,Argentina,1.728202,24424.1,3.988526e+02,98.9,0.35,0.159302,11.297267
3,Armenia,1.607238,10691.3,1.283048e+06,99.0,0.13,14.568022,0.001489
4,Australia,1.790601,46744.6,1.168097e+03,99.0,1.10,1.286984,14.473973
...,...,...,...,...,...,...,...,...
433,Uganda,1.199055,2074.7,1.007832e+04,51.0,0.10,9.947975,0.012953
434,Ukraine,1.604822,11860.6,3.197040e+03,93.8,0.13,5.595703,1.568492
435,United Arab Emirates,1.503178,67183.6,2.691330e+04,99.0,0.31,0.694166,0.661221
436,Uruguay,1.696937,23009.9,1.804085e+02,99.0,0.38,4.181898,9.940323
437,Uzbekistan,1.738445,6840.7,3.014446e+04,97.8,0.12,11.487253,0.111223

#### List of countries left after removol of countries with outliers

In [476]:
countries_1 = dfallyears_combined_1.Country.unique()
countries_2 = dfallyears_combined_2.Country.unique()
countries_3 = dfallyears_combined_3.Country.unique()
countries_4 = dfallyears_combined_4.Country.unique()
countries_5 = dfallyears_combined_5.Country.unique()
countries_6 = dfallyears_combined_6.Country.unique()

countries_norm = []
for i in countries_1:
    if i in countries_2 and i in countries_3 and i in countries_4 and i in countries_5 and i in countries_6:
        countries_norm.append(i)

print(len(countries_norm))

74

In [82]:
df2017_normalized = df2017_combined[df2017_combined["Country"].isin(countries_norm)]
df2017_normalized = df2017_normalized.reset_index(drop=True)
df2017_normalized

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807
3,Azerbaijan,1.684748,14121.4,4852.561360,93.9,0.15,17.804040,0.768812
4,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505
5,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169
6,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059
7,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286
8,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648
9,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875
10,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388
11,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339
12,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097
13,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849
14,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319
15,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204
16,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743
17,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962
18,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100
19,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808
20,Georgia,1.468602,13589.7,5662.651173,97.0,0.13,18.357991,0.448458
21,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507
22,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242
23,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651
24,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694
25,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963
26,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236
27,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753
28,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925
29,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796
30,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332
31,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555
50,Thailand,1.467374,17423.0,3281.326073,99.0,0.14,17.025430,1.259181
51,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782
52,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492
53,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221
54,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223

## After normalization (keith clean)

In [83]:
df2017_normalized["GDP_per_capita_adjusted_for_PPP_normalized"] = standardization(df2017_normalized["GDP_per_capita_adjusted_for_PPP"])
df2017_normalized["Agricultural_land_per_capita_normalized"] = standardization(df2017_normalized["Agricultural_land_per_capita"])
df2017_normalized["Percentage_of_population_with_basic_water_service_normalized"] = standardization(df2017_normalized["Percentage_of_population_with_basic_water_service"])
df2017_normalized["Percentage_of_population_with_eating_disorder_normalized"] = standardization(df2017_normalized["Percentage_of_population_with_eating_disorder"])
df2017_normalized["Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized"] = standardization(df2017_normalized["Percentage_of_population_employed_in_agriculture_forestry_fishery"])
df2017_normalized["co2_per_agricultural_land_area_normalized"] = standardization(df2017_normalized["co2_per_agricultural_land_area"])
df2017_normalized

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area,GDP_per_capita_adjusted_for_PPP_normalized,Agricultural_land_per_capita_normalized,Percentage_of_population_with_basic_water_service_normalized,Percentage_of_population_with_eating_disorder_normalized,Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized,co2_per_agricultural_land_area_normalized
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510,0.124094,-0.602205,0.524272,0.06,0.853414,-0.473730
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350,0.115253,-0.498374,1.000000,0.04,0.576116,-0.563200
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807,0.682193,-0.670239,1.000000,1.00,0.080696,1.128915
3,Azerbaijan,1.684748,14121.4,4852.561360,93.9,0.15,17.804040,0.768812,0.142298,-0.552151,0.504854,0.08,0.969061,-0.239420
4,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505,0.017920,-0.854955,0.844660,0.02,0.838324,2.132978
5,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169,0.164930,2.107831,0.951456,0.28,0.053330,-0.742038
6,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059,0.199381,-0.216114,0.757282,0.06,0.284405,-0.341881
7,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286,0.631903,-0.580881,1.000000,0.74,0.001067,0.652972
8,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648,0.048200,2.936370,0.902913,0.18,0.357740,-0.786729
9,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875,0.137342,0.760961,0.718447,0.06,0.231181,-0.617457
10,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388,0.281008,-0.316433,1.000000,0.56,0.206217,-0.413267
11,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339,0.142970,-0.214573,0.796117,0.24,0.394485,-0.678406
12,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097,0.226219,-0.632739,1.000000,0.28,0.263913,-0.462220
13,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849,0.468063,-0.797157,1.000000,0.66,0.020105,3.768149
14,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319,0.475301,-0.651073,1.000000,0.18,0.051479,1.449779
15,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204,0.698149,1.002357,1.000000,0.82,0.031474,-0.653398
16,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743,0.177534,-0.702724,0.757282,0.24,0.197659,-0.133135
17,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962,0.108550,-0.770381,0.543689,0.38,0.690328,0.386892
18,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100,0.407860,1.851927,1.000000,0.16,0.072578,-0.558954
19,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808,0.593186,2.194337,1.000000,0.82,0.068804,-0.681751
20,Georgia,1.468602,13589.7,5662.651173,97.0,0.13,18.357991,0.448458,0.135130,-0.500239,0.805825,0.04,1.000000,-0.475984
21,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507,0.667345,-0.640632,1.000000,0.70,0.010618,1.215092
22,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242,0.337535,-0.098091,1.000000,0.74,0.214240,-0.369069
23,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651,0.064124,-0.633776,0.407767,0.16,0.676452,-0.596208
24,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694,0.026917,-0.601049,0.533981,0.12,0.669388,-0.637529
25,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963,0.349616,-0.633257,1.000000,0.16,0.102504,0.239204
26,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236,0.099353,-0.712261,0.135922,0.00,0.772491,-0.125386
27,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753,1.000000,-0.257921,0.844660,0.76,0.104356,-0.163404
28,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925,0.479296,-0.717597,1.000000,0.60,0.000000,1.515209
29,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796,0.081350,1.950982,0.194175,0.18,0.359977,-0.762251
30,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332,0.086790,-0.797171,1.000000,0.18,0.014205,1.067273
31,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654,0.338461,0.993240,0.961165,0.14,0.150490,-0.712880
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652,0.539120,1.965408,1.000000,0.68,0.002743,-0.747588
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294,0.240617,-0.221530,1.000000,0.06,0.141765,-0.542565
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111,0.217784,-0.651517,0.990291,0.30,0.279554,0.017042
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266,0.000000,1.768272,0.000000,0.00,0.282574,-0.799565
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000,0.694535,0.630049,1.000000,0.62,0.032435,-0.504383
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551,0.163663,1.774972,0.864078,0.08,0.285958,-0.742494
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362,0.815346,-0.643026,1.000000,0.80,0.032052,0.994190
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145,0.362364,-0.709396,0.475728,0.36,0.326682,0.033312
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899,0.121661,-0.478549,1.000000,0.22,0.503099,-0.662485
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716,0.120529,-0.646193,0.262136,0.40,0.785062,-0.434440
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559,0.061411,-0.849691,0.407767,0.00,0.519574,3.714766
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280,0.357210,-0.449137,1.000000,0.18,0.220754,0.209900
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864,0.397384,-0.079256,1.000000,0.70,0.139938,-0.483069
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833,0.317814,-0.391577,1.000000,0.12,0.535885,-0.412939
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305,0.175857,0.107813,0.524272,0.08,0.279022,-0.555849
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753,0.444063,-0.491162,1.000000,0.18,0.117329,0.086930
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768,0.121575,-0.771778,0.271845,0.02,0.540430,-0.242406
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555,0.883457,-0.573615,1.000000,0.86,0.067604,-0.069029
50,Thailand,1.467374,17423.0,3281.326073,99.0,0.14,17.025430,1.259181,0.186803,-0.652839,1.000000,0.06,0.925574,0.122691
51,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782,0.103382,-0.055181,0.708738,0.22,0.223769,-0.657402
52,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492,0.111822,-0.658240,0.495146,0.04,0.287203,0.351100
53,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221,0.857576,0.861549,1.000000,0.40,0.013444,-0.318870
54,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223,0.044154,1.068609,0.883495,0.02,0.616257,-0.725014

## Training Our Model
- We will be defining some functions that we have used in class

In [84]:
def normalize_minmax(dfin):
    dfout = dfin.copy()
    dfout = (dfin - dfin.min(axis = 0)) / (dfin.max(axis = 0) - dfin.min(axis = 0))
    return dfout

In [85]:
df2017_normalised = df2017_combined_6.copy()
df2017_normalised_1 = df2017_normalised.loc[(df2017_combined["GDP_per_capita_adjusted_for_PPP"] <= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[0]) &(df2017_combined["GDP_per_capita_adjusted_for_PPP"] >= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[1]), :]
df2017_combined_2 = df2017_combined_1.loc[(df2017_combined_1["Agricultural_land_per_capita"] <= identify_outlier(df2017_combined_1, "Agricultural_land_per_capita")[0]) &(df2017_combined_1["Agricultural_land_per_capita"] >= identify_outlier(df2017_combined_1, "Agricultural_land_per_capita")[1]), :]
df2017_combined_3 = df2017_combined_2.loc[(df2017_combined_2["Percentage_of_population_with_basic_water_service"] <= identify_outlier(df2017_combined_2, "Percentage_of_population_with_basic_water_service")[0]) &(df2017_combined_2["Percentage_of_population_with_basic_water_service"] >= identify_outlier(df2017_combined_2, "Percentage_of_population_with_basic_water_service")[1]), :]
df2017_combined_4 = df2017_combined_3.loc[(df2017_combined_3["Percentage_of_population_with_eating_disorder"] <= identify_outlier(df2017_combined_3, "Percentage_of_population_with_eating_disorder")[0]) &(df2017_combined_3["Percentage_of_population_with_eating_disorder"] >= identify_outlier(df2017_combined_3, "Percentage_of_population_with_eating_disorder")[1]), :]
df2017_combined_5 = df2017_combined_4.loc[(df2017_combined_4["Percentage_of_population_employed_in_agriculture_forestry_fishery"] <= identify_outlier(df2017_combined_4, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[0]) &(df2017_combined_4["Percentage_of_population_employed_in_agriculture_forestry_fishery"] >= identify_outlier(df2017_combined_4, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[1]), :]
df2017_combined_6 = df2017_combined_5.loc[(df2017_combined_5["co2_per_agricultural_land_area"] <= identify_outlier(df2017_combined_5, "co2_per_agricultural_land_area")[0]) &(df2017_combined_5["co2_per_agricultural_land_area"] >= identify_outlier(df2017_combined_5, "co2_per_agricultural_land_area")[1]), :]
df2017_combined_6 = df2017_combined_6.reset_index(drop=True)
df2017_combined_6

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807
3,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505
4,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169
5,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059
6,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286
7,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648
8,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875
9,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388
10,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339
11,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097
12,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849
13,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319
14,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204
15,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743
16,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962
17,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100
18,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808
19,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507
20,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242
21,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651
22,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694
23,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963
24,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236
25,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753
26,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925
27,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796
28,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332
29,Kazakhstan,1.785518,24863.0,2457.961339,95.4,0.17,7.295344,6.928645
30,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654
31,Malaysia,1.563656,26661.5,943.685148,97.1,0.16,5.256448,8.536129
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555
50,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782
51,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492
52,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221
53,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223

In [86]:
df2017_normalised = df2017_combined_6.copy()
df2017_normalised["GDP_per_capita_adjusted_for_PPP_normalized"] = normalization(df2017_normalised["GDP_per_capita_adjusted_for_PPP"])
df2017_normalised["Agricultural_land_per_capita_normalized"] = standardization(df2017_normalised["Agricultural_land_per_capita"])
df2017_normalised["Percentage_of_population_with_basic_water_service_normalized"] = normalization(df2017_normalised["Percentage_of_population_with_basic_water_service"])
df2017_normalised["Percentage_of_population_with_eating_disorder_normalized"] = normalization(df2017_normalised["Percentage_of_population_with_eating_disorder"])
df2017_normalised["Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized"] = normalization(df2017_normalised["Percentage_of_population_employed_in_agriculture_forestry_fishery"])
df2017_normalised["co2_per_agricultural_land_area_normalized"] = standardization(df2017_normalised["co2_per_agricultural_land_area"])
df2017_normalised

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area,GDP_per_capita_adjusted_for_PPP_normalized,Agricultural_land_per_capita_normalized,Percentage_of_population_with_basic_water_service_normalized,Percentage_of_population_with_eating_disorder_normalized,Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized,co2_per_agricultural_land_area_normalized
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510,0.124094,-0.599329,0.524272,0.06,1.000000,-0.483912
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350,0.115253,-0.496616,1.000000,0.04,0.675072,-0.548892
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807,0.682193,-0.666630,1.000000,1.00,0.094557,0.680052
3,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505,0.017920,-0.849358,0.844660,0.02,0.982318,1.409279
4,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169,0.164930,2.081526,0.951456,0.28,0.062490,-0.678777
5,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059,0.199381,-0.217396,0.757282,0.06,0.333256,-0.388153
6,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286,0.631903,-0.578235,1.000000,0.74,0.001250,0.334385
7,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648,0.048200,2.901144,0.902913,0.18,0.419187,-0.711236
8,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875,0.137342,0.749158,0.718447,0.06,0.270889,-0.588297
9,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388,0.281008,-0.316634,1.000000,0.56,0.241637,-0.439999
10,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339,0.142970,-0.215871,0.796117,0.24,0.462243,-0.632563
11,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097,0.226219,-0.629535,1.000000,0.28,0.309243,-0.475552
12,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849,0.468063,-0.792182,1.000000,0.66,0.023558,2.596866
13,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319,0.475301,-0.647671,1.000000,0.18,0.060322,0.913088
14,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204,0.698149,0.987955,1.000000,0.82,0.036880,-0.614401
15,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743,0.177534,-0.698766,0.757282,0.24,0.231610,-0.236546
16,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962,0.108550,-0.765694,0.543689,0.38,0.808902,0.141138
17,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100,0.407860,1.828377,1.000000,0.16,0.085044,-0.545808
18,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808,0.593186,2.167101,1.000000,0.82,0.080622,-0.634993
19,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507,0.667345,-0.637342,1.000000,0.70,0.012441,0.742640
20,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242,0.337535,-0.100644,1.000000,0.74,0.251039,-0.407899
21,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651,0.064124,-0.630560,0.407767,0.16,0.792642,-0.572865
22,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694,0.026917,-0.598186,0.533981,0.12,0.784365,-0.602875
23,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963,0.349616,-0.630046,1.000000,0.16,0.120110,0.033875
24,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236,0.099353,-0.708201,0.135922,0.00,0.905177,-0.230918
25,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753,1.000000,-0.258753,0.844660,0.76,0.122281,-0.258529
26,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925,0.479296,-0.713479,1.000000,0.60,0.000000,0.960608
27,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796,0.081350,1.926366,0.194175,0.18,0.421808,-0.693458
28,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332,0.086790,-0.792196,1.000000,0.18,0.016645,0.635283
29,Kazakhstan,1.785518,24863.0,2457.961339,95.4,0.17,7.295344,6.928645,0.287094,-0.701613,0.650485,0.12,0.447768,2.989876
30,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654,0.338461,0.978936,0.961165,0.14,0.176339,-0.657601
31,Malaysia,1.563656,26661.5,943.685148,97.1,0.16,5.256448,8.536129,0.311338,-0.797606,0.815534,0.10,0.314332,3.851995
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652,0.539120,1.940637,1.000000,0.68,0.003215,-0.682809
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294,0.240617,-0.222753,1.000000,0.06,0.166115,-0.533905
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111,0.217784,-0.648110,0.990291,0.30,0.327571,-0.127476
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266,0.000000,1.745624,0.000000,0.00,0.331110,-0.720558
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000,0.694535,0.619656,1.000000,0.62,0.038006,-0.506174
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551,0.163663,1.752251,0.864078,0.08,0.335075,-0.679109
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362,0.815346,-0.639711,1.000000,0.80,0.037557,0.582204
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145,0.362364,-0.705366,0.475728,0.36,0.382794,-0.115659
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899,0.121661,-0.477005,1.000000,0.22,0.589513,-0.621000
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716,0.120529,-0.642844,0.262136,0.40,0.919908,-0.455377
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559,0.061411,-0.844150,0.407767,0.00,0.608818,2.558096
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280,0.357210,-0.447909,1.000000,0.18,0.258671,0.012593
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864,0.397384,-0.082011,1.000000,0.70,0.163974,-0.490694
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833,0.317814,-0.390969,1.000000,0.12,0.627930,-0.439761
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305,0.175857,0.103043,0.524272,0.08,0.326947,-0.543553
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753,0.444063,-0.489482,1.000000,0.18,0.137482,-0.076718
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768,0.121575,-0.767076,0.271845,0.02,0.633256,-0.315907
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555,0.883457,-0.571047,1.000000,0.86,0.079216,-0.189987
50,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782,0.103382,-0.058195,0.708738,0.22,0.262204,-0.617309
51,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492,0.111822,-0.654761,0.495146,0.04,0.336534,0.115143
52,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221,0.857576,0.848664,1.000000,0.40,0.015753,-0.371440
53,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223,0.044154,1.053494,0.883495,0.02,0.722108,-0.666413

## Training Our Model
- We will be defining some functions that we have used in class

In [87]:
# def normalize_z(dfin):
#     dfout = (dfin - dfin.mean(axis=0))/dfin.std(axis=0)
#     return dfout

# def normalize_min_max(dfin):
#     dfout = (dfin - dfin.min(axis=0))/(dfin.max(axis=0) - dfin.min(axis=0))
#     return dfout

def get_features_targets(df, feature_names, target_names):
    df_feature = df.loc[:,feature_names]
    df_target = df.loc[:,target_names]
    return df_feature, df_target

def prepare_feature(df_feature):
    feature = df_feature.to_numpy().reshape(-1, len(df_feature.columns))
    X = np.concatenate((np.ones((feature.shape[0],1)),feature), axis = 1)
    return X

def prepare_target(df_target):
    target = df_target.to_numpy().reshape(-1, len(df_target.columns))
    return target

def predict(df_feature, beta):
    feature_norm = normalize_z(df_feature)
    X = prepare_feature(feature_norm)
    return np.matmul(X, beta)

def calc_linear(X, beta):
    return np.matmul(X, beta)

def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    indexes = df_feature.index
    if random_state != None:
        np.random.seed(random_state)
    
    k = int(test_size*len(indexes))
    test_index = np.random.choice(indexes, k, replace = False)
    indexes = set(indexes)
    test_index = set(test_index)
    train_index = indexes - test_index
    
    df_feature_train = df_feature.loc[train_index,:]
    df_feature_test = df_feature.loc[test_index,:]
    
    df_target_train = df_target.loc[train_index,:]
    df_target_test = df_target.loc[test_index,:]
    return df_feature_train, df_feature_test, df_target_train, df_target_test

def r2_score(y, ypred):
    ymean = np.mean(y)
    diff = y-ymean
    sstot = np.matmul(diff.T, diff)
    error = y -ypred
    ssres = np.matmul(error.T,error)
    return 1 - ssres/sstot

def mean_squared_error(target, pred):
    n = target.shape[0]
    error = target - pred
    return (1/n)*np.matmul(error.T, error)[0][0]

### Considering Possible Removal of Features
- We will be using another metric to verify whether there is a good possible relationship between our features and the target. We decided to use Mean Absolute Percentage Error (MAPE)
$$\large \textrm{MAPE} = \frac{1}{n} \sum |\frac{y_i - x_i}{y_i}| \times 100 \%$$

In [88]:
def mean_absolute_error(df,feature,target):
    x = df[feature].to_numpy()
    y = df[target].to_numpy()
    n = df.shape[0]
    error = np.abs((y-x))
    return (1/n) * (error.sum())

In [89]:
def mean_absolute_error_percentage(df,feature,target):
    x = df[feature].to_numpy()
    y = df[target].to_numpy()
    n = df.shape[0]
    error = np.abs((y-x)/y)
    return ((1/n) * (error.sum())) / 100

#### Applying MAE on normalised 2017 data

In [90]:
features = ['GDP_per_capita_adjusted_for_PPP_normalized','Agricultural_land_per_capita_normalized','Percentage_of_population_with_basic_water_service_normalized','Percentage_of_population_with_eating_disorder_normalized','Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized','co2_per_agricultural_land_area_normalized']
target = ['y_ratio']
df2017_normalised_only = df2017_normalised.loc[:,features]
df2017_normalised_only

for feature in features:
    mae = mean_absolute_error(df2017_normalised,feature,target)
    print(f"{feature}: {mae}\n")

GDP_per_capita_adjusted_for_PPP_normalized: 72.75138635198913

Agricultural_land_per_capita_normalized: 95.96602977468756

Percentage_of_population_with_basic_water_service_normalized: 46.50868631932304

Percentage_of_population_with_eating_disorder_normalized: 72.65198729019681

Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized: 71.8842036105433

co2_per_agricultural_land_area_normalized: 100.4320249206575

In [96]:
from sklearn.metrics import mean_absolute_error