# 2D DDW

## Data Extraction and Cleaning

### Extract food supply by year (y-value)

Name of file: "DDW_Food supply.csv", "DDW_Min Cal Intake.csv"

This code extracts data by year and item == grand total and converts it to a dataframe/csv file.


Dataframe is named as df{year}_food_supply

Ratio = Food_supply/Minimum_energy_requirement

In [886]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [887]:
df_food_supply = pd.read_csv("DDW_Food Supply.csv")
df_grand_total = df_food_supply[(df_food_supply["Item"] == "Grand Total")]

df_min_cal_intake = pd.read_csv("DDW_Min Cal Intake.csv")
df_min_cal_intake = df_min_cal_intake[df_min_cal_intake["Value"].notna()]

In [888]:
# create list of common countries for df_min_cal_intake and df_grand_total datasets
df_food_supply_countries = df_grand_total.Area.unique()
df_min_cal_intake_countries = df_min_cal_intake.Area.unique()
y_countries_list = []
for i in df_food_supply_countries:
    if i in df_min_cal_intake_countries:
        y_countries_list.append(i)

In [889]:
# extract food supply by year
# Year 2019
df2019_food_supply = df_grand_total[(df_grand_total["Year"] == 2019)]
df2019_food_supply = df2019_food_supply[["Area", "Value"]]
df2019_food_supply = df2019_food_supply.rename(columns = {"Area":"Country"})

# Year 2018
df2018_food_supply = df_grand_total[(df_grand_total["Year"] == 2018)]
df2018_food_supply = df2018_food_supply[["Area", "Value"]]

# Year 2017
df2017_food_supply = df_grand_total[(df_grand_total["Year"] == 2017)]
df2017_food_supply = df2017_food_supply[["Area", "Value"]]

# Year 2016
df2016_food_supply = df_grand_total[(df_grand_total["Year"] == 2016)]
df2016_food_supply = df2016_food_supply[["Area", "Value"]]

# Year 2015
df2015_food_supply = df_grand_total[(df_grand_total["Year"] == 2015)]
df2015_food_supply = df2015_food_supply[["Area", "Value"]]

# Year 2014
df2014_food_supply = df_grand_total[(df_grand_total["Year"] == 2014)]
df2014_food_supply = df2014_food_supply[["Area", "Value"]]

# Year 2013
df2013_food_supply = df_grand_total[(df_grand_total["Year"] == 2013)]
df2013_food_supply = df2013_food_supply[["Area", "Value"]]

# Year 2012
df2012_food_supply = df_grand_total[(df_grand_total["Year"] == 2012)]
df2012_food_supply = df2012_food_supply[["Area", "Value"]]

# Year 2011
df2011_food_supply = df_grand_total[(df_grand_total["Year"] == 2011)]
df2011_food_supply = df2011_food_supply[["Area", "Value"]]

# Year 2010
df2010_food_supply = df_grand_total[(df_grand_total["Year"] == 2010)]
df2010_food_supply = df2010_food_supply[["Area", "Value"]]

In [890]:
# extract minimum calorie intake by year

# Year 2018
df2018_min_cal = df_min_cal_intake[(df_min_cal_intake["Year"] == 2018)]
df2018_min_cal = df2018_min_cal[["Area", "Value", "Year"]]
df2018_min_cal

                                    Area   Value  Year
8                            Afghanistan  1681.0  2018
20                               Albania  1910.0  2018
32                               Algeria  1778.0  2018
68                                Angola  1662.0  2018
80                   Antigua and Barbuda  1888.0  2018
...                                  ...     ...   ...
2384                             Vanuatu  1696.0  2018
2396  Venezuela (Bolivarian Republic of)  1819.0  2018
2408                            Viet Nam  1784.0  2018
2420                               Yemen  1707.0  2018
2444                            Zimbabwe  1740.0  2018

[188 rows x 3 columns]

In [891]:
# filter df2018_food_supply and 
df2018_food_supply = df2018_food_supply[df2018_food_supply["Area"].isin(y_countries_list)]
df2018_min_cal = df2018_min_cal[df2018_min_cal["Area"].isin(y_countries_list)]

In [892]:
df_2018_y_val = df2018_food_supply.copy()
toadd = list(df2018_min_cal["Value"])
df_2018_y_val["Minimum_energy_requirement(kcal/capita/day)"] = toadd
df_2018_y_val = df_2018_y_val.rename(columns = {"Value":"Food_supply(kcal/capita/day)"})
df_2018_y_val = df_2018_y_val.reset_index(drop=True)
df_2018_y_val["Food_supply/Minimum_energy_requirement"] = df_2018_y_val["Food_supply(kcal/capita/day)"]/df_2018_y_val["Minimum_energy_requirement(kcal/capita/day)"]
df_2018_y_val

,Area,Food_supply(kcal/capita/day),Minimum_energy_requirement(kcal/capita/day),Food_supply/Minimum_energy_requirement
0,Afghanistan,2270,1681.0,1.350387
1,Albania,3296,1910.0,1.725654
2,Algeria,3382,1778.0,1.902137
3,Angola,2451,1662.0,1.474729
4,Antigua and Barbuda,2470,1888.0,1.308263
...,...,...,...,...
169,Vanuatu,2584,1696.0,1.523585
170,Venezuela (Bolivarian Republic of),2225,1819.0,1.223200
171,Viet Nam,2916,1784.0,1.634529
172,Yemen,2009,1707.0,1.176919
173,Zimbabwe,1875,1740.0,1.077586

### Extract GDP per capita

In [893]:
# dfGDP = pd.read_csv("DDW_GDP per capita.csv")
# dfGDP = dfGDP.drop(dfGDP.index[(dfGDP["2012"] == "..")])

In [894]:
dfGDP_countries = dfGDP.Country.unique()

AttributeError: 'DataFrame' object has no attribute 'Country'

In [ ]:
# Year 2018
df2018_GDP = dfGDP[["Country", "2018"]]
df2018_GDP = df2018_GDP.rename(columns = {"2018":"GDP"})
df2018_GDP

                                               Country    GDP
0                                          Afghanistan   1735
1                                              Albania  12306
2                                              Algeria  13886
3                                               Angola   5725
4                                  Antigua and Barbuda  23768
..                                                 ...    ...
204                                 Sub-Saharan Africa   3552
205                          Least Developed Countries   2688
206                     Small Island Developing States  18086
207  Organization for Economic Co-operation and Dev...  40492
208                                              World  15893

[201 rows x 2 columns]

In [ ]:
# Year 2017
df2017_GDP = dfGDP[["Country", "2017"]]
df2017_GDP = df2017_GDP.rename(columns = {"2017":"GDP"})

In [ ]:
# Year 2016
df2016_GDP = dfGDP[["Country", "2016"]]
df2016_GDP = df2016_GDP.rename(columns = {"2016":"GDP"})

In [ ]:
# Year 2015
df2015_GDP = dfGDP[["Country", "2015"]]
df2015_GDP = df2015_GDP.rename(columns = {"2015":"GDP"})

In [ ]:
# Year 2014
df2014_GDP = dfGDP[["Country", "2014"]]
df2014_GDP = df2014_GDP.rename(columns = {"2014":"GDP"})

In [ ]:
# Year 2013
df2013_GDP = dfGDP[["Country", "2013"]]
df2013_GDP = df2013_GDP.rename(columns = {"2013":"GDP"})

In [ ]:
# Year 2012
df2012_GDP = dfGDP[["Country", "2012"]]
df2012_GDP = df2012_GDP.rename(columns = {"2012":"GDP"})

In [ ]:
# Year 2011
df2011_GDP = dfGDP[["Country", "2011"]]
df2011_GDP = df2011_GDP.rename(columns = {"2011":"GDP"})

In [ ]:
# Year 2010
df2010_GDP = dfGDP[["Country", "2010"]]
df2010_GDP = df2010_GDP.rename(columns = {"2010":"GDP"})

### Getting Population

#### Population for only 2018

In [ ]:
df_pop = pd.read_csv("DDW_Population.csv")
# df_pop = df_pop.dropna()
df_pop_2018 = df_pop[(df_pop["year"]==2018)]
df_pop_2018

                 country  year    population
69           Afghanistan  2018  3.717192e+07
206               Africa  2018  1.275921e+09
294              Albania  2018  2.882735e+06
399              Algeria  2018  4.222842e+07
430              Andorra  2018  7.700800e+04
...                  ...   ...           ...
25474  Wallis and Futuna  2018  1.165300e+04
25745              World  2018  7.631081e+09
25816              Yemen  2018  2.849868e+07
25887             Zambia  2018  1.735171e+07
26005           Zimbabwe  2018  1.443881e+07

[247 rows x 3 columns]

### Extract percentage of land for agriculture

In [906]:
df_agriculture = pd.read_csv("DDW_Agricultural Land.csv")
# remove rows with no value (NaN)
df_agriculture_2018 = df_agriculture[["Country Name","2018"]]
df_agriculture_2018 = df_agriculture_2018[df_agriculture_2018["2018"].notna()]
df_agriculture_2018
# df_agriculture_countries = df_agriculture.Country.unique()

                    Country Name        2018
0                          Aruba       20.00
1    Africa Eastern and Southern  6556857.12
2                    Afghanistan   380100.00
3     Africa Western and Central  3591824.60
4                         Angola   569524.90
..                           ...         ...
260                        Samoa      551.70
262                  Yemen, Rep.   234520.00
263                 South Africa   963410.00
264                       Zambia   238360.00
265                     Zimbabwe   162000.00

[257 rows x 2 columns]

#### Getting Agriculture land per capita

In [907]:
df_agriculture = df_agriculture.apply(lambda x:x/(df_pop_2018))

ValueError: If using all scalar values, you must pass an index

In [ ]:
# # Year 2010 - 2020
# df2020_agri = df_agriculture[["Country", "2020"]]
# df2019_agri = df_agriculture[["Country", "2019"]]
# df2018_agri = df_agriculture[["Country", "2018"]]
# df2017_agri = df_agriculture[["Country", "2017"]]
# df2016_agri = df_agriculture[["Country", "2016"]]
# df2015_agri = df_agriculture[["Country", "2015"]]
# df2014_agri = df_agriculture[["Country", "2014"]]
# df2013_agri = df_agriculture[["Country", "2013"]]
# df2012_agri = df_agriculture[["Country", "2012"]]
# df2011_agri = df_agriculture[["Country", "2011"]]
# df2010_agri = df_agriculture[["Country", "2010"]]

In [ ]:
# Year 2010
#df2010_agri = df_agriculture[["Country Name", "2010"]]
#df2010_agri = df2010_agri.rename(columns = {"Country Name": "Country", "2010":"Agriculture"})

### Extract Employement ... (value in 1000s)

In [ ]:
df_employment = pd.read_csv("DDW_Employment In Agriculture.csv")
df_employment_countries = df_employment.Area.unique()
df_employment

,Domain Code,Domain,Area Code (M49),Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OEA,Employment Indicators: Agriculture,4,Afghanistan,21066,"Employment in agriculture, forestry and fishin...",13,Total,2012,2012,3021,Household income and expenditure survey,1000 persons,2477.079,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
1,OEA,Employment Indicators: Agriculture,4,Afghanistan,21066,"Employment in agriculture, forestry and fishin...",13,Total,2014,2014,3021,Household income and expenditure survey,1000 persons,2824.353,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
2,OEA,Employment Indicators: Agriculture,4,Afghanistan,21066,"Employment in agriculture, forestry and fishin...",13,Total,2017,2017,3021,Household income and expenditure survey,1000 persons,2740.235,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
3,OEA,Employment Indicators: Agriculture,4,Afghanistan,21066,"Employment in agriculture, forestry and fishin...",13,Total,2020,2020,3023,Labour force survey,1000 persons,2714.301,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
4,OEA,Employment Indicators: Agriculture,8,Albania,21066,"Employment in agriculture, forestry and fishin...",13,Total,2009,2009,3023,Labour force survey,1000 persons,511.223,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299,OEA,Employment Indicators: Agriculture,894,Zambia,21066,"Employment in agriculture, forestry and fishin...",13,Total,2018,2018,3023,Labour force survey,1000 persons,673.139,X,Figure from international organizations,Break in series Break in series: Methodology r...
1300,OEA,Employment Indicators: Agriculture,894,Zambia,21066,"Employment in agriculture, forestry and fishin...",13,Total,2019,2019,3023,Labour force survey,1000 persons,667.582,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
1301,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21066,"Employment in agriculture, forestry and fishin...",13,Total,2011,2011,3023,Labour force survey,1000 persons,3577.023,X,Figure from international organizations,Break in series Break in series: Methodology r...
1302,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21066,"Employment in agriculture, forestry and fishin...",13,Total,2014,2014,3023,Labour force survey,1000 persons,4212.176,X,Figure from international organizations,Repository: ILO-STATISTICS - Micro data proces...
1303,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21066,"Employment in agriculture, forestry and fishin...",13,Total,2019,2019,3023,Labour force survey,1000 persons,1030.879,X,Figure from international organizations,Break in series Break in series: Methodology r...

In [ ]:
df2019_food_supply = df_employment[(df_employment["Year"] == 2019)]
df2019_food_supply = df2019_food_supply[["Area", "Value"]]

### Extract CO2 (million metric tonnes)

In [ ]:
df_co2 = pd.read_csv("DDW_CO2.csv")
df_co2_filter = df_co2[(df_co2["year"])==2018]
df_co2_filter = df_co2_filter[df_co2_filter["co2"].notna()]
df_co2_filter = df_co2_filter[["year","country","co2"]]
df_co2_filter

       year            country        co2
69     2018        Afghanistan      8.345
206    2018             Africa   1385.645
294    2018            Albania      4.734
399    2018            Algeria    161.487
430    2018            Andorra      0.495
...     ...                ...        ...
25474  2018  Wallis and Futuna      0.026
25745  2018              World  36646.141
25816  2018              Yemen      9.984
25887  2018             Zambia      7.313
26005  2018           Zimbabwe     11.854

[237 rows x 3 columns]

### Extract Basic Water Drinking Services

In [26]:
df_water = pd.read_csv("DDW_Basic Water Drinking Services.csv")
df_water = df_water[df_water["Value"].notna()]

In [37]:
df2018_water = df_water[(df_water["Year"] == 2018)]
df2018_water = df2018_water[["Year", "Area", "Value"]]
df2018_water["Value"] = df2018_water["Value"]/100
df2018_water

      Year                            Area  Value
18    2018                     Afghanistan  0.696
39    2018                         Albania  0.944
60    2018                         Algeria  0.940
81    2018                  American Samoa  0.990
102   2018                         Andorra  0.990
...    ...                             ...    ...
4878  2018  Small Island Developing States  0.831
4899  2018            Low income economies  0.574
4920  2018   Lower-middle-income economies  0.870
4941  2018           High-income economies  0.990
4962  2018   Upper-middle-income economies  0.947

[232 rows x 3 columns]

### Extract Eating Disorder

In [44]:
df_eating_disorder = pd.read_csv("DDW_Eating Disorder.csv")
df_eating_disorder = df_eating_disorder[df_eating_disorder["Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)"].notna()]
df_eating_disorder = df_eating_disorder.rename(columns = {"Entity": "Country", "Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)":"Prevalence"})
df_eating_disorder = df_eating_disorder[(df_eating_disorder["Year"] == 2018)]
df_eating_disorder = df_eating_disorder[["Year", "Country", "Prevalence"]]
df_eating_disorder

      Year                         Country  Prevalence
28    2018                     Afghanistan        0.12
58    2018            African Region (WHO)        0.11
88    2018                         Albania        0.14
118   2018                         Algeria        0.22
148   2018                  American Samoa        0.13
...    ...                             ...         ...
6718  2018  World Bank Lower Middle Income        0.13
6748  2018  World Bank Upper Middle Income        0.17
6778  2018                           Yemen        0.13
6808  2018                          Zambia        0.12
6838  2018                        Zimbabwe        0.10

[228 rows x 3 columns]

### Extract percentage of population employed in agriculture (Employment in agriculture / Population = Proportion employed In agriculture)

In [56]:
df_population = pd.read_csv("DDW_Population.csv")
df_employment = pd.read_csv("DDW_Employment In Agriculture.csv")
df_population = df_population[df_population["population"].notna()]
df_employment = df_employment[df_employment["Value"].notna()]

In [62]:
df2018_population = df_population[(df_population["year"] == 2018)]
df2018_employement = df_employment[(df_employment["Year"] == 2018)]
df2018_percentage_employed = df2018_population[["year", "country", "population"]]

df2018_percentage_employed

       year            country    population
69     2018        Afghanistan  3.717192e+07
206    2018             Africa  1.275921e+09
294    2018            Albania  2.882735e+06
399    2018            Algeria  4.222842e+07
430    2018            Andorra  7.700800e+04
...     ...                ...           ...
25474  2018  Wallis and Futuna  1.165300e+04
25745  2018              World  7.631081e+09
25816  2018              Yemen  2.849868e+07
25887  2018             Zambia  1.735171e+07
26005  2018           Zimbabwe  1.443881e+07

[231 rows x 3 columns]

### Create list of common countries

In [ ]:
countries = []
for i in df_food_supply_countries:
    if i in dfGDP_countries and i in df_agriculture_countries and i in df_employment_countries:
        countries.append(i)
print(countries)
print(len(countries))

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile', 'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Lithuania', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Slovenia', 'Solomon Islands', 'South Africa', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Zambia', 'Zimbabwe']
132