# 2D DDW_for math

## Imports

In [2]:
# import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Improved model:

added in fat and protein

carbohydrate(g) = [total energy(kcal) - (total fat(g) * 9) - (total protein(g) * 4)] /4

### Cleaning of new dataframe of factor to be added in

In [3]:
dfallyears_new_combined = pd.read_csv("dfallyears_new_combined_math.csv")

In [4]:
def identify_outlier(dataframe, i):
    q3 = dataframe[i].quantile(q=0.75)
    q1 = dataframe[i].quantile(q=0.25)
    IQR = q3 - q1
    upper_outlier = q3 + 1.5*IQR
    lower_outlier = q1 - 1.5*IQR
    return upper_outlier, lower_outlier

In [5]:
# identifier outlier for each factor
GDP_outlier = identify_outlier(dfallyears_new_combined, "GDP")
Agri_cap_outlier = identify_outlier(dfallyears_new_combined, "Agri_land_cap")
Water_outlier = identify_outlier(dfallyears_new_combined, "Basic_water")
Fat_outlier = identify_outlier(dfallyears_new_combined, "Fat")
Protein_outlier = identify_outlier(dfallyears_new_combined, "Protein")
Carbohydrate_outlier = identify_outlier(dfallyears_new_combined, "Carbohydrate")

# removal of rows with outliers
dfallyears_removed = dfallyears_new_combined.copy()
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["GDP"] <= GDP_outlier[0]) & (dfallyears_removed["GDP"] >= GDP_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Agri_land_cap"] <= Agri_cap_outlier[0]) & (dfallyears_removed["Agri_land_cap"] >= Agri_cap_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Basic_water"] <= Water_outlier[0]) & (dfallyears_removed["Basic_water"] >= Water_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Fat"] <= Fat_outlier[0]) & (dfallyears_removed["Fat"] >= Fat_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Protein"] <= Protein_outlier[0]) & (dfallyears_removed["Protein"] >= Protein_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Carbohydrate"] <= Carbohydrate_outlier[0]) & (dfallyears_removed["Carbohydrate"] >= Carbohydrate_outlier[1]), :]
dfallyears_removed = dfallyears_removed.reset_index(drop=True)
dfallyears_removed

,Unnamed: 0,Year,Country,Undernourishment,GDP,Agri_land_cap,Basic_water,Fat,Protein,Carbohydrate
0,0,2013,Afghanistan,26.299999,2116.5,11747.901864,56.0,38.1,58.0,405.275
1,2,2013,Algeria,3.100000,11319.1,311.299362,93.0,94.1,90.7,556.575
2,3,2013,Angola,15.000000,8141.2,145.834533,99.0,57.8,53.7,434.250
3,4,2013,Argentina,2.800000,17643.1,29134.822048,99.0,114.3,101.3,444.275
4,5,2013,Armenia,3.300000,24424.1,5808.269139,52.8,96.3,93.3,445.025
...,...,...,...,...,...,...,...,...,...,...
485,631,2017,Trinidad and Tobago,6.800000,42218.5,390.156496,83.3,88.7,85.0,460.425
486,632,2017,Tunisia,2.500000,6004.0,8521.496334,99.0,97.4,99.7,545.400
487,634,2017,Ukraine,2.500000,5190.4,3197.040405,99.0,81.7,87.3,494.375
488,635,2017,United Arab Emirates,3.200000,15706.4,26913.297761,98.6,111.7,82.0,435.175
489,637,2017,Uzbekistan,2.500000,33308.5,19.399386,81.4,90.0,99.0,497.750

In [81]:
def normalize_z(df):
    dfout = (df - df.mean(axis = 0)) / df.std(axis = 0)
    return dfout

In [82]:
dfallyears_new_normalized = dfallyears_removed.copy()
dfallyears_new_normalized["GDP_normalized"] = normalize_z(dfallyears_new_normalized["GDP"])
dfallyears_new_normalized["Agri_land_cap_normalized"] = normalize_z(dfallyears_new_normalized["Agri_land_cap"])
dfallyears_new_normalized["Basic_water_normalized"] = normalize_z(dfallyears_new_normalized["Basic_water"])
dfallyears_new_normalized["Fat_normalized"] = normalize_z(dfallyears_new_normalized["Fat"])
dfallyears_new_normalized["Protein_normalized"] = normalize_z(dfallyears_new_normalized["Protein"])
dfallyears_new_normalized["Carbohydrate_normalized"] = normalize_z(dfallyears_new_normalized["Carbohydrate"])
dfallyears_new_normalized

,Year,Country,Undernourishment,GDP,Agri_land_cap,Basic_water,Fat,Protein,Carbohydrate,GDP_normalized,Agri_land_cap_normalized,Basic_water_normalized,Fat_normalized,Protein_normalized,Carbohydrate_normalized
0,2013,Afghanistan,26.299999,2116.5,11747.901864,56.0,38.7,58.0,403.925,-0.914756,0.174229,-2.384530,-1.416207,-1.263949,-1.025614
1,2013,Algeria,3.100000,11319.1,311.299362,93.0,95.6,90.7,553.200,-0.345383,-0.699040,0.330984,0.154771,0.434937,2.469640
2,2013,Angola,15.000000,8141.2,145.834533,99.0,59.4,53.7,430.650,-0.542002,-0.711675,0.771338,-0.844691,-1.487349,-0.399852
3,2013,Argentina,2.800000,17643.1,29134.822048,99.0,116.4,101.3,439.550,0.045888,1.501848,0.771338,0.729047,0.985646,-0.191460
4,2013,Armenia,3.300000,24424.1,5808.269139,52.8,96.7,93.3,444.125,0.465434,-0.279306,-2.619386,0.185141,0.570017,-0.084337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,2017,Trinidad and Tobago,6.800000,42218.5,390.156496,83.3,88.7,85.0,460.425,1.566389,-0.693019,-0.380921,-0.035735,0.138801,0.297326
486,2017,Tunisia,2.500000,6004.0,8521.496334,99.0,97.4,99.7,545.400,-0.674233,-0.072131,0.771338,0.204468,0.902521,2.287004
487,2017,Ukraine,2.500000,5190.4,3197.040405,99.0,81.7,87.3,494.375,-0.724571,-0.478693,0.771338,-0.229001,0.258295,1.092260
488,2017,United Arab Emirates,3.200000,15706.4,26913.297761,98.6,111.7,82.0,435.175,-0.073937,1.332219,0.741981,0.599283,-0.017060,-0.293900
489,2017,Uzbekistan,2.500000,33308.5,19.399386,81.4,90.0,99.0,497.750,1.015120,-0.721329,-0.520366,0.000158,0.866153,1.171286