# 2D DDW

## Imports

In [5705]:
# import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Data Extraction and Cleaning

For our project, the 6 factors that we are using to predict food security are:
1. GDP per capita adjusted for PPP
2. Agricultural land per capita
3. Percentage of population with basic water service
4. Percentage of population with eating disorder
5. Percentage of population employed in agriculture forestry fishery
6. $CO_{2}$ emitted per agricultural land area

As such, we have obtained the following raw data for all the countries:
1. Amount of agricultural land allocated per countries (in $km^{2}$)
2. Percentage of population with access to basic drinking water

The code below extracts the relevant data from each file and processses it to match our 6 factors.

### Extract food supply data for 2018

The following code extracts the total food supply for each country in 2018. This data is extracted from "DDW_Food Supply.csv".

In [5706]:
# read food supply csv
df_food_supply = pd.read_csv("DDW_Food Supply.csv")
# extract values only when item is "Grand Total"
df_grand_total = df_food_supply[(df_food_supply["Item"] == "Grand Total")]
# extract year 2013-2017 values
dfyears_food_supply = df_grand_total[(df_grand_total["Year"]==2012)]
# extract year, country and food supply
dfyears_food_supply = dfyears_food_supply[["Year", "Area", "Value"]]
dfyears_food_supply = dfyears_food_supply.rename(columns = {"Area": "Country", "Value": "Food_supply"})
# set index from 0
dfyears_food_supply = dfyears_food_supply.reset_index(drop=True)
# print dataframe
dfyears_food_supply

     Year                                  Country  Food_supply
0    2012                              Afghanistan         2159
1    2012                                  Albania         3288
2    2012                                  Algeria         3366
3    2012                                   Angola         2389
4    2012                      Antigua and Barbuda         2417
..    ...                                      ...          ...
208  2012                Least Developed Countries         2372
209  2012         Land Locked Developing Countries         2496
210  2012           Small Island Developing States         2627
211  2012        Low Income Food Deficit Countries         2435
212  2012  Net Food Importing Developing Countries         2512

[213 rows x 3 columns]

##### Finding the unique countries in food supply data

In [5707]:
df_food_supply_countries = dfyears_food_supply.Country.unique()
# print(df_food_supply_countries)

### Extract minimum calorie intake data for 2018

In [5708]:
# read minimum calorie intake csv
df_min_cal_intake = pd.read_csv("DDW_Min Cal Intake.csv")
# extract values that are not missing
df_min_cal_intake = df_min_cal_intake[df_min_cal_intake["Value"].notna()]
# extract year 2013 - 2017 values
dfyears_min_cal = df_min_cal_intake[(df_min_cal_intake["Year"]==2012)]
# extract year, country and values
dfyears_min_cal = dfyears_min_cal[["Year", "Area", "Value"]]
dfyears_min_cal = dfyears_min_cal.rename(columns = {"Area": "Country", "Value":"Mininum_calorie_intake"})
# set index from 0
dfyears_min_cal = dfyears_min_cal.reset_index(drop=True)
# print dataframe
dfyears_min_cal

     Year                             Country  Mininum_calorie_intake
0    2012                         Afghanistan                  1645.0
1    2012                             Albania                  1915.0
2    2012                             Algeria                  1798.0
3    2012                              Angola                  1652.0
4    2012                 Antigua and Barbuda                  1883.0
..    ...                                 ...                     ...
183  2012                             Vanuatu                  1692.0
184  2012  Venezuela (Bolivarian Republic of)                  1811.0
185  2012                            Viet Nam                  1790.0
186  2012                               Yemen                  1688.0
187  2012                            Zimbabwe                  1731.0

[188 rows x 3 columns]

##### Finding the unique countries in minimum calorie intake data

In [5709]:
df_min_cal_intake_countries = dfyears_min_cal.Country.unique()
# print(df_min_cal_intake_countries)

### Extract GDP per capita data for 2018

In [5710]:
# read GDP, adjusted for PPP, per capita csv
df_GDP = pd.read_csv("DDW_GDP per capita adjusted.csv")
# extract values that are not missing
df_GDP = df_GDP[(df_GDP["Value"].notna())]
# extract year 2013-2017 values
dfyears_GDP = df_GDP[(df_GDP["Year"]==2012)]
# extract year, country and value
dfyears_GDP = dfyears_GDP[["Year","Area","Value"]]
dfyears_GDP = dfyears_GDP.rename(columns = {"Area": "Country", "Value":"GDP"})
# set index from 0
dfyears_GDP = dfyears_GDP.reset_index(drop=True)
# print data frame
dfyears_GDP

     Year              Country      GDP
0    2012          Afghanistan   2075.5
1    2012              Albania  11228.0
2    2012              Algeria  11233.5
3    2012               Angola   8037.7
4    2012  Antigua and Barbuda  17966.3
..    ...                  ...      ...
180  2012           Uzbekistan   5472.8
181  2012              Vanuatu   3046.3
182  2012             Viet Nam   6911.7
183  2012               Zambia   3339.3
184  2012             Zimbabwe   3674.9

[185 rows x 3 columns]

#### List of unique countries for GDP per capita data

In [5711]:
df_GDP_countries = dfyears_GDP.Country.unique()
# print(df_GGDP_countries)

### Extract total population data for 2018

In [5712]:
# read total population employed csv
df_pop = pd.read_csv("DDW_Population.csv")
# extract year 2013 - 2017 values
dfyears_population = df_pop[(df_pop["year"]==2012)]
# extract values that are not missing
dfyears_population = dfyears_population[dfyears_population["population"].notna()]
# extract year, country and population value
dfyears_population = dfyears_population[["year", "country", "population"]]
dfyears_population = dfyears_population.rename(columns = {"year": "Year", "country": "Country", "population":"Population"})
# set index from 0
dfyears_population = dfyears_population.reset_index(drop=True)
# print dataframe
dfyears_population

     Year            Country    Population
0    2012        Afghanistan  3.116138e+07
1    2012             Africa  1.094343e+09
2    2012            Albania  2.914091e+06
3    2012            Algeria  3.738390e+07
4    2012            Andorra  8.242700e+04
..    ...                ...           ...
226  2012  Wallis and Futuna  1.236900e+04
227  2012              World  7.126135e+09
228  2012              Yemen  2.447318e+07
229  2012             Zambia  1.446515e+07
230  2012           Zimbabwe  1.311515e+07

[231 rows x 3 columns]

#### Getting unique countries for population data

In [5713]:
df_pop_coutries = dfyears_population.Country.unique()

### Extract land area used for agriculture data for 2018

In [5714]:
df_agriculture = pd.read_csv("DDW_Agricultural Land.csv")

# extract countries...
dfyears_agriculture = df_agriculture[["Country Name","2012"]]
# remove rows with no value (NaN)
dfyears_agriculture = dfyears_agriculture.dropna()
dfyears_agriculture.insert(0, "Year", 2012)
dfyears_agriculture = dfyears_agriculture.rename(columns = {"2012": "Agri_land", "Country Name": "Country"})
dfyears_agriculture

     Year                      Country    Agri_land
0    2012                        Aruba       20.000
1    2012  Africa Eastern and Southern  6441140.365
2    2012                  Afghanistan   379100.000
3    2012   Africa Western and Central  3552415.200
4    2012                       Angola   536221.240
..    ...                          ...          ...
260  2012                        Samoa      545.000
262  2012                  Yemen, Rep.   235010.000
263  2012                 South Africa   963410.000
264  2012                       Zambia   238360.000
265  2012                     Zimbabwe   162000.000

[257 rows x 3 columns]

In [5715]:
df_agriculture_countries = dfyears_agriculture.Country.unique()

#### Getting unique countries for Agriculture data

In [5716]:
df_agriculture_countries = df2017_agriculture.Country.unique()

### Extract CO2 (in million metric tonnes) data for 2018

In [5717]:
df_co2 = pd.read_csv("DDW_CO2.csv")
dfyears_co2 = df_co2[(df_co2["year"]==2012)]
dfyears_co2 = dfyears_co2[dfyears_co2["co2"].notna()]
dfyears_co2 = dfyears_co2[["year","country","co2"]]
dfyears_co2 = dfyears_co2.rename(columns = {"year": "Year", "country": "Country", "co2": "CO2"})
dfyears_co2 = dfyears_co2.reset_index(drop=True)
dfyears_co2

     Year            Country        CO2
0    2012        Afghanistan     10.219
1    2012             Africa   1253.144
2    2012            Albania      4.668
3    2012            Algeria    128.111
4    2012            Andorra      0.487
..    ...                ...        ...
232  2012  Wallis and Futuna      0.026
233  2012              World  34974.074
234  2012              Yemen     18.268
235  2012             Zambia      4.166
236  2012           Zimbabwe      7.883

[237 rows x 3 columns]

#### Getting unique countries for $CO_{2}$ data

In [5718]:
df_co2_countries = dfyears_co2.Country.unique()

### Extract basic water drinking services data for 2018

In [5719]:
df_water = pd.read_csv("DDW_Basic Water Drinking Services.csv")
df_water = df_water[df_water["Value"].notna()]
dfyears_water = df_water[(df_water["Year"]==2012)]
dfyears_water = dfyears_water[["Year", "Area", "Value"]]
dfyears_water = dfyears_water.rename(columns = {"Area": "Country", "Value": "Basic_water"})
dfyears_water = dfyears_water.reset_index(drop=True)
dfyears_water

     Year                         Country  Basic_water
0    2012                     Afghanistan         53.4
1    2012                         Albania         92.2
2    2012                         Algeria         92.7
3    2012                  American Samoa         99.0
4    2012                         Andorra         99.0
..    ...                             ...          ...
234  2012  Small Island Developing States         82.1
235  2012            Low income economies         52.0
236  2012   Lower-middle-income economies         83.8
237  2012           High-income economies         99.0
238  2012   Upper-middle-income economies         91.8

[239 rows x 3 columns]

#### Getting unique countries for basic water drinking services data

In [5720]:
df_water_countries = dfyears_water.Country.unique()

### Extract Eating Disorder data for 2018

In [5721]:
df_eating_disorder = pd.read_csv("DDW_Eating Disorder.csv")
df_eating_disorder = df_eating_disorder[df_eating_disorder["Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)"].notna()]
df_eating_disorder = df_eating_disorder.rename(columns = {"Entity": "Country", "Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)":"Prevalence"})
dfyears_eating_disorder = df_eating_disorder[(df_eating_disorder["Year"]==2012)]
dfyears_eating_disorder = dfyears_eating_disorder[["Year", "Country", "Prevalence"]]
dfyears_eating_disorder = dfyears_eating_disorder.rename(columns = {"Prevalence": "Eating_disorder"})
dfyears_eating_disorder = dfyears_eating_disorder.reset_index(drop=True)
dfyears_eating_disorder

     Year                         Country  Eating_disorder
0    2012                     Afghanistan             0.11
1    2012            African Region (WHO)             0.11
2    2012                         Albania             0.13
3    2012                         Algeria             0.21
4    2012                  American Samoa             0.14
..    ...                             ...              ...
223  2012  World Bank Lower Middle Income             0.12
224  2012  World Bank Upper Middle Income             0.16
225  2012                           Yemen             0.15
226  2012                          Zambia             0.11
227  2012                        Zimbabwe             0.10

[228 rows x 3 columns]

#### Getting unique countries for eating disorder data

In [5722]:
df_eating_disorder_countries = dfyears_eating_disorder.Country.unique()

### Extract number of people employed in agriculture data for 2018

In [5723]:
df_employment = pd.read_csv("DDW_Employment In Agriculture.csv")
df_employment = df_employment[df_employment["Value"].notna()]
dfyears_employment = df_employment[(df_employment["Year"]==2012)]
dfyears_employment = dfyears_employment[["Year", "Area", "Value"]]
dfyears_employment["Value"] = dfyears_employment["Value"]*1000
dfyears_employment = dfyears_employment.rename(columns = {"Area": "Country", "Value":"Employed_num"})
dfyears_employment = dfyears_employment.reset_index(drop=True)
dfyears_employment

     Year                             Country  Employed_num
0    2012                         Afghanistan     2477079.0
1    2012                             Albania      521184.0
2    2012                           Argentina       66354.0
3    2012                             Armenia      437159.0
4    2012                           Australia      317115.0
..    ...                                 ...           ...
109  2012                             Uruguay      134475.0
110  2012                          Uzbekistan     3251700.0
111  2012  Venezuela (Bolivarian Republic of)      958249.0
112  2012                            Viet Nam    24347933.0
113  2012                              Zambia     3005855.0

[114 rows x 3 columns]

#### Getting unique countries for population employed

In [5724]:
df_employment_countries = dfyears_employment.Country.unique()

### Create list of common countries

In [5725]:
set1 = set(df_food_supply_countries)
set2 = set(df_min_cal_intake_countries)
set3 = set(df_GDP_countries)
set4 = set(df_pop_coutries)
set5 = set(df_agriculture_countries)
set6 = set(df_co2_countries)
set7 = set(df_water_countries)
set8 = set(df_eating_disorder_countries)
set9 = set(df_employment_countries)

countries = list(set1 & set2 & set3 & set4 & set5 & set6 & set7 & set8 & set9)
print(countries)
print(len(countries))

['New Zealand', 'Denmark', 'Kazakhstan', 'Bulgaria', 'Romania', 'Czechia', 'Estonia', 'Luxembourg', 'Tunisia', 'Mauritius', 'Italy', 'Albania', 'Japan', 'Brazil', 'Germany', 'Iceland', 'South Africa', 'Azerbaijan', 'Sweden', 'Bosnia and Herzegovina', 'Mongolia', 'Greece', 'Latvia', 'Uzbekistan', 'Dominican Republic', 'Paraguay', 'Norway', 'Samoa', 'Ecuador', 'Chile', 'Austria', 'Afghanistan', 'Cambodia', 'Israel', 'Sri Lanka', 'Belgium', 'Armenia', 'Poland', 'Australia', 'Uruguay', 'Guatemala', 'Uganda', 'France', 'Barbados', 'Ukraine', 'Canada', 'Netherlands', 'Panama', 'El Salvador', 'Indonesia', 'Honduras', 'Malta', 'Costa Rica', 'Georgia', 'Rwanda', 'Ireland', 'Switzerland', 'Thailand', 'Finland', 'North Macedonia', 'Hungary', 'Lithuania', 'Colombia', 'Slovenia', 'Peru', 'Malaysia', 'Serbia', 'Philippines', 'Portugal', 'Mexico', 'Montenegro', 'Spain', 'Cyprus', 'Jamaica']
74

### With the list of common countries, we are now able to continue combining our dataframes ...

### Calculate food supply to mininum calorie intake ratio 
done by finding (food supply)/(mininum calorie intake)

In [5726]:
dfyears_food_supply = dfyears_food_supply[dfyears_food_supply["Country"].isin(countries)]
dfyears_min_cal = dfyears_min_cal[dfyears_min_cal["Country"].isin(countries)]

dfyears_y_value = dfyears_food_supply.copy()
dfyears_y_value["Mininum_calorie_intake"] = list(dfyears_min_cal["Mininum_calorie_intake"])
dfyears_y_value["y_ratio"] = dfyears_y_value["Food_supply"]/dfyears_y_value["Mininum_calorie_intake"]
dfyears_y_value = dfyears_y_value.reset_index(drop=True)
dfyears_y_value

    Year      Country  Food_supply  Mininum_calorie_intake   y_ratio
0   2012  Afghanistan         2159                  1645.0  1.312462
1   2012      Albania         3288                  1915.0  1.716971
2   2012      Armenia         2972                  1880.0  1.580851
3   2012    Australia         3437                  1916.0  1.793841
4   2012      Austria         3740                  1949.0  1.918933
..   ...          ...          ...                     ...       ...
69  2012      Tunisia         3393                  1832.0  1.852074
70  2012       Uganda         2305                  1678.0  1.373659
71  2012      Ukraine         3171                  1914.0  1.656740
72  2012      Uruguay         3120                  1859.0  1.678322
73  2012   Uzbekistan         3114                  1843.0  1.689636

[74 rows x 5 columns]

### Calculate Agriculture Land per capita (in $\textrm{m}^2$ per capita)

In [5727]:
dfyears_agriculture = dfyears_agriculture[dfyears_agriculture["Country"].isin(countries)]
dfyears_population = dfyears_population[dfyears_population["Country"].isin(countries)]

dfyears_agriculture_per_pop = dfyears_agriculture.copy()
dfyears_agriculture_per_pop["Total_population"] = list(dfyears_population["Population"])
dfyears_agriculture_per_pop["Agri_land_cap"] = (dfyears_agriculture_per_pop["Agri_land"]/dfyears_agriculture_per_pop["Total_population"])*1000000
dfyears_agriculture_per_pop = dfyears_agriculture_per_pop.reset_index(drop=True)
dfyears_agriculture_per_pop

    Year       Country  Agri_land  Total_population  Agri_land_cap
0   2012   Afghanistan   379100.0        31161378.0   12165.700759
1   2012       Albania    12013.0         2914091.0    4122.383275
2   2012       Armenia    16830.0         2884239.0    5835.161372
3   2012     Australia  3870760.0        22903952.0  168999.655605
4   2012       Austria    27352.0         8502230.0    3217.038353
..   ...           ...        ...               ...            ...
69  2012       Ukraine   412970.0        10846993.0   38072.302619
70  2012       Uruguay   142370.0        34558700.0    4119.657279
71  2012    Uzbekistan   252360.0        45453804.0    5552.010564
72  2012         Samoa      545.0         3378975.0     161.291516
73  2012  South Africa   963410.0        29449414.0   32714.063512

[74 rows x 5 columns]

### Calculate percentage of population employed in the agriculture industry

In [5728]:
dfyears_employment = dfyears_employment[dfyears_employment["Country"].isin(countries)]
dfyears_population = dfyears_population[dfyears_population["Country"].isin(countries)]

dfyears_percentage_employed = dfyears_employment.copy()
dfyears_percentage_employed["Total_population"] = list(dfyears_population["Population"])
dfyears_percentage_employed["Employed_%"] = (dfyears_percentage_employed["Employed_num"]/dfyears_percentage_employed["Total_population"])*100
dfyears_percentage_employed = dfyears_percentage_employed.reset_index(drop=True)
dfyears_percentage_employed

    Year      Country  Employed_num  Total_population  Employed_%
0   2012  Afghanistan     2477079.0        31161378.0    7.949196
1   2012      Albania      521184.0         2914091.0   17.884960
2   2012      Armenia      437159.0         2884239.0   15.156823
3   2012    Australia      317115.0        22903952.0    1.384543
4   2012      Austria      190960.0         8502230.0    2.245999
..   ...          ...           ...               ...         ...
69  2012      Tunisia      550012.0        10846993.0    5.070640
70  2012       Uganda     7012061.0        34558700.0   20.290292
71  2012      Ukraine     4022800.0        45453804.0    8.850304
72  2012      Uruguay      134475.0         3378975.0    3.979757
73  2012   Uzbekistan     3251700.0        29449414.0   11.041646

[74 rows x 5 columns]

### Calculate co2 per agricultural land (in kg per m^2)

In [5729]:
dfyears_co2 = dfyears_co2[dfyears_co2["Country"].isin(countries)]
dfyears_agriculture = dfyears_agriculture[dfyears_agriculture["Country"].isin(countries)]


dfyears_co2_per_land = dfyears_co2.copy()
dfyears_co2_per_land["Agri_land"] = list(dfyears_agriculture["Agri_land"])
dfyears_co2_per_land["CO2_agri"] = (dfyears_co2_per_land["CO2"]/dfyears_co2_per_land["Agri_land"])*1000
dfyears_co2_per_land = dfyears_co2_per_land.reset_index(drop=True)
dfyears_co2_per_land

    Year      Country      CO2  Agri_land   CO2_agri
0   2012  Afghanistan   10.219   379100.0   0.026956
1   2012      Albania    4.668    12013.0   0.388579
2   2012      Armenia    5.748    16830.0   0.341533
3   2012    Australia  402.666  3870760.0   0.104028
4   2012      Austria   67.263    27352.0   2.459162
..   ...          ...      ...        ...        ...
69  2012      Tunisia   26.306   412970.0   0.063700
70  2012       Uganda    3.627   142370.0   0.025476
71  2012      Ukraine  303.976   252360.0   1.204533
72  2012      Uruguay    8.592      545.0  15.765138
73  2012   Uzbekistan  114.891   963410.0   0.119255

[74 rows x 5 columns]

### Filtering the rest of the dataframes needed based on the list of common countries

In [5730]:
dfyears_GDP = dfyears_GDP[dfyears_GDP["Country"].isin(countries)]
dfyears_GDP = dfyears_GDP.reset_index(drop=True)
dfyears_water = dfyears_water[dfyears_water["Country"].isin(countries)]
dfyears_water = dfyears_water.reset_index(drop=True)
dfyears_eating_disorder = dfyears_eating_disorder[dfyears_eating_disorder["Country"].isin(countries)]
dfyears_eating_disorder = dfyears_eating_disorder.reset_index(drop=True)

### Combining all the variables into 1 data frame, filtering the data based on the countries available in countries list

In [5731]:
dfyears_combined = dfyears_y_value.loc[:, ["Country", "y_ratio"]]
dfyears_combined["GDP"] = dfyears_GDP.loc[:, "GDP"]
dfyears_combined["Agri_land_cap"] = dfyears_agriculture_per_pop.loc[:, "Agri_land_cap"]
dfyears_combined["Basic_water"] = dfyears_water.loc[:, "Basic_water"]
dfyears_combined["Eating_disorder"] = dfyears_eating_disorder.loc[:, "Eating_disorder"]
dfyears_combined["Employed_%"] = dfyears_percentage_employed.loc[:, "Employed_%"]
dfyears_combined["CO2_agri"] = dfyears_co2_per_land.loc[:, "CO2_agri"]
dfyears_combined.insert(0, "Year", 2012)
dfyears_combined = dfyears_combined.reset_index(drop=True)
dfyears_combined

,Year,Country,y_ratio,GDP,Agri_land_cap,Basic_water,Eating_disorder,Employed_%,CO2_agri
0,2012,Afghanistan,1.312462,2075.5,12165.700759,53.4,0.11,7.949196,0.026956
1,2012,Albania,1.716971,11228.0,4122.383275,92.2,0.13,17.884960,0.388579
2,2012,Armenia,1.580851,10397.7,5835.161372,98.8,0.13,15.156823,0.341533
3,2012,Australia,1.793841,46350.9,168999.655605,99.0,1.10,1.384543,0.104028
4,2012,Austria,1.918933,53297.4,3217.038353,99.0,0.61,2.245999,2.459162
...,...,...,...,...,...,...,...,...,...
69,2012,Tunisia,1.852074,10743.8,38072.302619,93.0,0.21,5.070640,0.063700
70,2012,Uganda,1.373659,1996.9,4119.657279,43.2,0.09,20.290292,0.025476
71,2012,Ukraine,1.656740,12985.1,5552.010564,94.2,0.13,8.850304,1.204533
72,2012,Uruguay,1.678322,20885.1,161.291516,98.7,0.35,3.979757,15.765138
73,2012,Uzbekistan,1.689636,5472.8,32714.063512,96.8,0.11,11.041646,0.119255

In [5732]:
# convert the dataframe to a csv for each year
#dfyears_combined.to_csv("df2012_combined.csv")

#### Combinining the dataframes for years 2013 to 2017 into 1 dataframe

In [5733]:
# read the csv for each year
df2013_combined = pd.read_csv("df2013_combined.csv")
df2014_combined = pd.read_csv("df2014_combined.csv")
df2015_combined = pd.read_csv("df2015_combined.csv")
df2016_combined = pd.read_csv("df2016_combined.csv")
df2017_combined = pd.read_csv("df2017_combined.csv")

In [5734]:
# combine all the 5 dataframes in 1
dfallyears_combined = pd.concat([df2013_combined, df2014_combined, df2015_combined, df2016_combined, df2017_combined])
dfallyears_combined = dfallyears_combined.drop(columns = "Unnamed: 0")
dfallyears_combined = dfallyears_combined.reset_index(drop=True)
#dfallyears_combined.to_csv("dfallyears_combined.csv")
dfallyears_combined

,Year,Country,y_ratio,GDP,Agri_land_cap,Basic_water,Eating_disorder,Employed_%,CO2_agri
0,2013,Albania,1.718685,11361.3,4.088797e+03,92.6,0.14,15.527752,0.415059
1,2013,Algeria,1.914206,11319.1,3.223308e+04,93.0,0.22,2.991599,0.107726
2,2013,Argentina,1.728202,24424.1,3.988526e+02,98.9,0.35,0.159302,11.297267
3,2013,Armenia,1.607238,10691.3,1.283048e+06,99.0,0.13,14.568022,0.001489
4,2013,Australia,1.790601,46744.6,1.168097e+03,99.0,1.10,1.286984,14.473973
...,...,...,...,...,...,...,...,...,...
433,2017,Uganda,1.199055,2074.7,1.007832e+04,51.0,0.10,9.947975,0.012953
434,2017,Ukraine,1.604822,11860.6,3.197040e+03,93.8,0.13,5.595703,1.568492
435,2017,United Arab Emirates,1.503178,67183.6,2.691330e+04,99.0,0.31,0.694166,0.661221
436,2017,Uruguay,1.696937,23009.9,1.804085e+02,99.0,0.38,4.181898,9.940323
437,2017,Uzbekistan,1.738445,6840.7,3.014446e+04,97.8,0.12,11.487253,0.111223

In [5735]:
#df2017_combined.to_csv("df2017_combined_v1.csv")

In [5736]:
f2 = df2017_combined.Country.unique()
print(f2)

['Afghanistan' 'Albania' 'Algeria' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Burundi' 'Cambodia'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Cyprus' 'Czechia' 'Denmark'
 'Djibouti' 'Dominican Republic' 'Ecuador' 'El Salvador' 'Estonia'
 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala'
 'Honduras' 'Hungary' 'Iceland' 'Indonesia' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kuwait' 'Latvia' 'Lithuania'
 'Luxembourg' 'Malaysia' 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Myanmar' 'Nepal' 'Netherlands' 'New Zealand'
 'North Macedonia' 'Norway' 'Panama' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Romania' 'Rwanda' 'Samoa' 'Serbia' 'Seychelles'
 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka' 'Sweden' 'Switzerland'
 'Thailand' 'Togo' 'Tunisia' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'Uruguay' 'Uzbekistan']

### Removal of outliers (keith clean)

In [5737]:
def identify_outlier(dataframe, i):
    q3 = dataframe[i].quantile(q=0.75)
    q1 = dataframe[i].quantile(q=0.25)
    IQR = q3 - q1
    upper_outlier = q3 + 1.5*IQR
    lower_outlier = q1 - 1.5*IQR
    return upper_outlier, lower_outlier

In [5738]:
# def drop_outlier_value(df, column, outlier_value):
#     return df[column] <= outlier_value[0] and df[column] >= outlier_value[1]

In [5739]:
#df2017_combined_1 = df2017_combined.loc[(drop_outlier_value(df2017_combined, "GDP_per_capita_adjusted_for_PPP", outlier_value)), :]

df2017_combined_1 = df2017_combined.loc[(df2017_combined["GDP_per_capita_adjusted_for_PPP"] <= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[0]) &(df2017_combined["GDP_per_capita_adjusted_for_PPP"] >= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[1]), :]
df2017_combined_2 = df2017_combined.loc[(df2017_combined["Agricultural_land_per_capita"] <= identify_outlier(df2017_combined, "Agricultural_land_per_capita")[0]) &(df2017_combined["Agricultural_land_per_capita"] >= identify_outlier(df2017_combined, "Agricultural_land_per_capita")[1]), :]
df2017_combined_3 = df2017_combined.loc[(df2017_combined["Percentage_of_population_with_basic_water_service"] <= identify_outlier(df2017_combined, "Percentage_of_population_with_basic_water_service")[0]) &(df2017_combined["Percentage_of_population_with_basic_water_service"] >= identify_outlier(df2017_combined, "Percentage_of_population_with_basic_water_service")[1]), :]
df2017_combined_4 = df2017_combined.loc[(df2017_combined["Percentage_of_population_with_eating_disorder"] <= identify_outlier(df2017_combined, "Percentage_of_population_with_eating_disorder")[0]) &(df2017_combined["Percentage_of_population_with_eating_disorder"] >= identify_outlier(df2017_combined, "Percentage_of_population_with_eating_disorder")[1]), :]
df2017_combined_5 = df2017_combined.loc[(df2017_combined["Percentage_of_population_employed_in_agriculture_forestry_fishery"] <= identify_outlier(df2017_combined, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[0]) &(df2017_combined["Percentage_of_population_employed_in_agriculture_forestry_fishery"] >= identify_outlier(df2017_combined, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[1]), :]
df2017_combined_6 = df2017_combined.loc[(df2017_combined["co2_per_agricultural_land_area"] <= identify_outlier(df2017_combined, "co2_per_agricultural_land_area")[0]) &(df2017_combined["co2_per_agricultural_land_area"] >= identify_outlier(df2017_combined, "co2_per_agricultural_land_area")[1]), :]
df2017_combined_1
#df2017_combined_6 = df2017_combined.reset_index(drop=True)
#df2017_combined_6
#identify_outlier(df2017_combined_1, "GDP_per_capita_adjusted_for_PPP")

KeyError: 'GDP_per_capita_adjusted_for_PPP'

#### List of countries left after removol of countries with outliers

In [ ]:
countries_1 = df2017_combined_1.Country.unique()
countries_2 = df2017_combined_2.Country.unique()
countries_3 = df2017_combined_3.Country.unique()
countries_4 = df2017_combined_4.Country.unique()
countries_5 = df2017_combined_5.Country.unique()
countries_6 = df2017_combined_6.Country.unique()

countries_norm = []
for i in countries_1:
    if i in countries_2 and i in countries_3 and i in countries_4 and i in countries_5 and i in countries_6:
        countries_norm.append(i)

print(len(countries_norm))

55

In [ ]:
# identifier outlier for each factor
GDP_outlier = identify_outlier(dfallyears_combined, "GDP")
Agri_cap_outlier = identify_outlier(dfallyears_combined, "Agri_land_cap")
Water_outlier = identify_outlier(dfallyears_combined, "Basic_water")
Eating_outlier = identify_outlier(dfallyears_combined, "Eating_disorder")
Employed_outlier = identify_outlier(dfallyears_combined, "Employed_%")
CO2_outlier = identify_outlier(dfallyears_combined, "CO2_agri")

# removal of rows with outliers
dfallyears_removed = dfallyears_combined.copy()
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["GDP"] <= GDP_outlier[0]) & (dfallyears_removed["GDP"] >= GDP_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Agri_land_cap"] <= Agri_cap_outlier[0]) & (dfallyears_removed["Agri_land_cap"] >= Agri_cap_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Basic_water"] <= Water_outlier[0]) & (dfallyears_removed["Basic_water"] >= Water_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Eating_disorder"] <= Eating_outlier[0]) & (dfallyears_removed["Eating_disorder"] >= Eating_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["Employed_%"] <= Employed_outlier[0]) & (dfallyears_removed["Employed_%"] >= Employed_outlier[1]), :]
dfallyears_removed = dfallyears_removed.loc[(dfallyears_removed["CO2_agri"] <= CO2_outlier[0]) & (dfallyears_removed["CO2_agri"] >= CO2_outlier[1]), :]
dfallyears_removed
# dfallyears_combined_2 = dfallyears_combined.loc[(dfallyears_combined["Agri_land_cap"] <= identify_outlier(dfallyears_combined, "Agri_land_cap")[0]) &(dfallyears_combined["Agri_land_cap"] >= identify_outlier(dfallyears_combined, "Agri_land_cap")[1]), :]
# dfallyears_combined_3 = dfallyears_combined.loc[(dfallyears_combined["Basic_water"] <= identify_outlier(dfallyears_combined, "Basic_water")[0]) &(dfallyears_combined["Basic_water"] >= identify_outlier(dfallyears_combined, "Basic_water")[1]), :]
# dfallyears_combined_4 = dfallyears_combined.loc[(dfallyears_combined["Eating_disorder"] <= identify_outlier(dfallyears_combined, "Eating_disorder")[0]) &(dfallyears_combined["Eating_disorder"] >= identify_outlier(dfallyears_combined, "Eating_disorder")[1]), :]
# dfallyears_combined_5 = dfallyears_combined.loc[(dfallyears_combined["Employed_%"] <= identify_outlier(dfallyears_combined, "Employed_%")[0]) &(dfallyears_combined["Employed_%"] >= identify_outlier(dfallyears_combined, "Employed_%")[1]), :]
# dfallyears_combined_6 = dfallyears_combined.loc[(dfallyears_combined["CO2_agri"] <= identify_outlier(dfallyears_combined, "CO2_agri")[0]) &(dfallyears_combined["CO2_agri"] >= identify_outlier(dfallyears_combined, "CO2_agri")[1]), :]

     Year               Country   y_ratio      GDP  Agri_land_cap  \
0    2013               Albania  1.718685  11361.3    4088.797116
1    2013               Algeria  1.914206  11319.1   32233.078561
5    2013               Austria  1.907645  52997.8    5574.676863
6    2013            Azerbaijan  1.660085  14651.7    1424.010121
7    2013            Bangladesh  1.384876   3965.4     607.352349
..    ...                   ...       ...      ...            ...
430  2017              Thailand  1.467374  17423.0    3281.326073
432  2017               Tunisia  1.901540  11234.5   12607.756302
434  2017               Ukraine  1.604822  11860.6    3197.040405
435  2017  United Arab Emirates  1.503178  67183.6   26913.297761
437  2017            Uzbekistan  1.738445   6840.7   30144.455965

     Basic_water  Eating_disorder  Employed_%  CO2_agri
0           92.6             0.14   15.527752  0.415059
1           93.0             0.22    2.991599  0.107726
5           99.0             0.61    2.195136  1.420584
6           89.8             0.15   17.872206  2.634867
7           96.8             0.11   17.144373  0.665898
..           ...              ...         ...       ...
430         99.0             0.14   17.025430  1.259181
432         96.0             0.22    4.459936  0.202782
434         93.8             0.13    5.595703  1.568492
435         99.0             0.31    0.694166  0.661221
437         97.8             0.12   11.487253  0.111223

[246 rows x 9 columns]

## After z-normalization (keith clean)

In [ ]:
def normalize_z(df):
    dfout = (df - df.mean(axis = 0)) / df.std(axis = 0)
    return dfout

In [ ]:
dfallyears_normalized = dfallyears_removed.copy()
dfallyears_normalized["GDP__normalized"] = normalize_z(dfallyears_normalized["GDP"])
dfallyears_normalized["Agri_land_cap_normalized"] = normalize_z(dfallyears_normalized["Agri_land_cap"])
dfallyears_normalized["Basic_water_normalized"] = normalize_z(dfallyears_normalized["Basic_water"])
dfallyears_normalized["Eating_disorder_normalized"] = normalize_z(dfallyears_normalized["Eating_disorder"])
dfallyears_normalized["Employed_%_normalized"] = normalize_z(dfallyears_normalized["Employed_%"])
dfallyears_normalized["CO2_agri_normalized"] = normalize_z(dfallyears_normalized["CO2_agri"])
dfallyears_normalized

,Year,Country,y_ratio,GDP,Agri_land_cap,Basic_water,Eating_disorder,Employed_%,CO2_agri,GDP__normalized,Agri_land_cap_normalized,Basic_water_normalized,Eating_disorder_normalized,Employed_%_normalized,CO2_agri_normalized
0,2013,Albania,1.718685,11361.3,4088.797116,92.6,0.14,15.527752,0.415059,-0.835531,-0.545290,-1.440541,-0.914102,1.985003,-0.587407
1,2013,Algeria,1.914206,11319.1,32233.078561,93.0,0.22,2.991599,0.107726,-0.837990,1.389634,-1.300914,-0.379971,-0.609040,-0.793541
5,2013,Austria,1.907645,52997.8,5574.676863,99.0,0.61,2.195136,1.420584,1.591304,-0.443136,0.793489,2.223916,-0.773848,0.087017
6,2013,Azerbaijan,1.660085,14651.7,1424.010121,89.8,0.15,17.872206,2.634867,-0.643746,-0.728495,-2.417929,-0.847336,2.470129,0.901459
7,2013,Bangladesh,1.384876,3965.4,607.352349,96.8,0.11,17.144373,0.665898,-1.266610,-0.784640,0.025542,-1.114401,2.319522,-0.419165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,2017,Thailand,1.467374,17423.0,3281.326073,99.0,0.14,17.025430,1.259181,-0.482217,-0.600804,0.793489,-0.914102,2.294910,-0.021239
432,2017,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782,-0.842921,0.040390,-0.253712,-0.379971,-0.305205,-0.729785
434,2017,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492,-0.806428,-0.606598,-1.021660,-0.980868,-0.070186,0.186221
435,2017,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221,2.418141,1.023899,0.793489,0.220926,-1.084436,-0.422302
437,2017,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223,-1.099019,1.246041,0.374609,-1.047635,1.148923,-0.791196

## Training 1st Model
- We will be defining some functions that we have used in class

In [ ]:
# def normalize_z(dfin):
#     dfout = (dfin - dfin.mean(axis=0))/dfin.std(axis=0)
#     return dfout

# def normalize_min_max(dfin):
#     dfout = (dfin - dfin.min(axis=0))/(dfin.max(axis=0) - dfin.min(axis=0))
#     return dfout

def get_features_targets(df, feature_names, target_names):
    df_feature = df.loc[:,feature_names]
    df_target = df.loc[:,target_names]
    return df_feature, df_target

def prepare_feature(df_feature):
    feature = df_feature.to_numpy().reshape(-1, len(df_feature.columns))
    X = np.concatenate((np.ones((feature.shape[0],1)),feature), axis = 1)
    return X

def prepare_target(df_target):
    target = df_target.to_numpy().reshape(-1, len(df_target.columns))
    return target

def predict(df_feature, beta):
    # Commented out normalising data as data cleaning already did it
    # feature_norm = normalize_z(df_feature)
    # X = prepare_feature(feature_norm)
    X = prepare_feature(df_feature)
    return np.matmul(X, beta)

def calc_linear(X, beta):
    return np.matmul(X, beta)

def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    indexes = df_feature.index
    if random_state != None:
        np.random.seed(random_state)
    
    k = int(test_size*len(indexes))
    test_index = np.random.choice(indexes, k, replace = False)
    indexes = set(indexes)
    test_index = set(test_index)
    train_index = indexes - test_index
    
    df_feature_train = df_feature.loc[train_index,:]
    df_feature_test = df_feature.loc[test_index,:]
    
    df_target_train = df_target.loc[train_index,:]
    df_target_test = df_target.loc[test_index,:]
    return df_feature_train, df_feature_test, df_target_train, df_target_test

def r2_score(y, ypred):
    ymean = np.mean(y)
    diff = y-ymean
    sstot = np.matmul(diff.T, diff)
    error = y -ypred
    ssres = np.matmul(error.T,error)
    return 1 - ssres/sstot

def mean_squared_error(target, pred):
    n = target.shape[0]
    error = target - pred
    return (1/n)*np.matmul(error.T, error)[0][0]

def compute_cost(X, y, beta):
    J = 0
    m = X.shape[0]
    error = calc_linear(X,beta)-y
    error_sq = np.matmul(error.T,error)
    J = (1/(2*m)) * error_sq
    return J

def gradient_descent(X, y, beta, alpha, num_iters):
    m = X.shape[0]
    J_storage = np.zeros((num_iters,1))
    for n in range(num_iters):
        deriv = np.matmul(X.T,calc_linear(X,beta)-y)
        beta = beta - (alpha * (1/m)) * deriv
        J_storage[n] = compute_cost(X,y,beta)
    return beta, J_storage

### Considering Possible Removal of Features
- We will be using another metric to verify whether there is a good possible relationship between our features and the target. We decided to use Mean Absolute Error (MAE)
$$\large \textrm{MAE} = \frac{1}{n} \sum |y_i - x_i| %$$

In [ ]:
def mean_absolute_error(df,feature,target):
    x = df[feature].to_numpy()
    y = df[target].to_numpy()
    n = df.shape[0]
    error = np.abs((y-x))
    return (1/n) * (error.sum())

In [ ]:
def mean_absolute_error_percentage(df,feature,target):
    x = df[feature].to_numpy()
    y = df[target].to_numpy()
    n = df.shape[0]
    error = np.abs((y-x)/y)
    return ((1/n) * (error.sum())) / 100

#### Applying MAE on normalised 2017 data

In [ ]:
features = ['GDP_per_capita_adjusted_for_PPP_normalized','Agricultural_land_per_capita_normalized','Percentage_of_population_with_basic_water_service_normalized','Percentage_of_population_with_eating_disorder_normalized','Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized','co2_per_agricultural_land_area_normalized']
target = ['y_ratio']

print("MAE Data\n")
for feature in features:
    mae = mean_absolute_error(df2017_normalized,feature,target)
    print(f"\t{feature}: {mae}\n")

MAE Data

	GDP_per_capita_adjusted_for_PPP_normalized: 72.75138635198913

	Agricultural_land_per_capita_normalized: 95.96602977468756

	Percentage_of_population_with_basic_water_service_normalized: 46.50868631932304

	Percentage_of_population_with_eating_disorder_normalized: 72.65198729019681

	Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized: 71.8842036105433

	co2_per_agricultural_land_area_normalized: 100.4320249206575

### Preparing the Data

#### Getting Features and Targets

In [ ]:
new_features = ['GDP_per_capita_adjusted_for_PPP_normalized','Agricultural_land_per_capita_normalized','Percentage_of_population_with_eating_disorder_normalized','Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized','co2_per_agricultural_land_area_normalized']
df2017_feature , df2017_target = get_features_targets(df2017_normalised,new_features,target)
# # df2017_feature is already normalisead
# # df2017_target was not normalised above
display(df2017_feature.describe())
display(df2017_target.describe())

,GDP_per_capita_adjusted_for_PPP_normalized,Agricultural_land_per_capita_normalized,Percentage_of_population_with_eating_disorder_normalized,Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized,co2_per_agricultural_land_area_normalized
count,54.000000,5.400000e+01,54.000000,54.000000,5.400000e+01
mean,0.314456,-2.261565e-16,0.316296,0.330515,7.195890e-17
std,0.254229,1.000000e+00,0.286793,0.289735,1.000000e+00
min,0.000000,-8.493579e-01,0.000000,0.000000,-7.205581e-01
25%,0.116572,-6.530984e-01,0.085000,0.081728,-5.992308e-01
50%,0.233418,-4.930491e-01,0.180000,0.266547,-4.238297e-01
75%,0.462063,4.905030e-01,0.590000,0.458625,9.482587e-02
max,1.000000,2.901144e+00,1.000000,1.000000,3.851995e+00

         y_ratio
count  54.000000
mean    1.661703
std     0.141434
min     1.424242
25%     1.547408
50%     1.662949
75%     1.739143
max     2.017359

In [ ]:
features_y = features.copy()
features_y.insert(0,"y_ratio")
features_y.insert(0,"Country")
df2017_normalized_only = df2017_normalized.loc[:,features_y]
print("First five data sets")
display(df2017_normalized_only.head())

In [ ]:
df2017_feature , df2017_target = get_features_targets(df2017_normalized_only,features,target)
# # df2017_feature is already normalisead
# # df2017_target was not normalised above
display(df2017_feature.describe())
display(df2017_target.describe())

#### Pair Plots

In [ ]:
# sns.set()
# myplot = sns.pairplot(data=df2017_normalised_only)

### Splitting the Data

In [ ]:
df2017_feature_train , df2017_feature_test ,df2017_target_train , df2017_target_test = split_data(df2017_feature,df2017_target)

### Cost Function

In [ ]:
X = prepare_feature(df2017_feature_train)
target = prepare_target(df2017_target_train)

beta = np.zeros((7,1))
J = compute_cost(X,target,beta)
print(J)

beta = np.ones((7,1))
J = compute_cost(X, target, beta)
print(J)

### Gradient Descent
- Using 1500 iterations and alpha of 0.01
- Also choosing the lower cost function

In [ ]:
iterations = 1500 # arbitrary value
alpha = 0.01 # arbitrary value
beta = np.ones((7,1))

beta , J_storage = gradient_descent(X,target,beta,alpha,iterations)
print(beta)

In [ ]:
plt.plot(J_storage)

### Running Predictions

In [ ]:
pred = predict(df_features_test,beta)

#### For 1st to 6th factor to test the model

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)