# 2D DDW

## Imports

In [5639]:
# import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Data Extraction and Cleaning

For our project, the 6 factors that we are using to predict food security are:
1. GDP per capita adjusted for PPP
2. Agricultural land per capita
3. Percentage of population with basic water service
4. Percentage of population with eating disorder
5. Percentage of population employed in agriculture forestry fishery
6. co2 per agricultural land area

As such, we have obtained the following raw data for all the countries:
1. 

The code below extracts the relevant data from each file and processses it to match our 6 factors.

### Extract food supply data for 2018

The following code extracts the total food supply for each country in 2018. This data is extracted from "DDW_Food Supply.csv".

In [5640]:
# read csv
df_food_supply = pd.read_csv("DDW_Food Supply.csv")
# extract values only when item is "Grand Total"
df_grand_total = df_food_supply[(df_food_supply["Item"] == "Grand Total")]
# extract year 2017 values
df2017_food_supply = df_grand_total[(df_grand_total["Year"] == 2017)]
# extract year, country and food supply
df2017_food_supply = df2017_food_supply[["Year", "Area", "Value"]]
df2017_food_supply = df2017_food_supply.rename(columns = {"Area": "Country", "Value":"Food_supply"})
# set index from 0
df2017_food_supply = df2017_food_supply.reset_index(drop=True)
# dataframe
df2017_food_supply

     Year                                  Country  Food_supply
0    2017                              Afghanistan         2303
1    2017                                  Albania         3326
2    2017                                  Algeria         3383
3    2017                                   Angola         2441
4    2017                      Antigua and Barbuda         2446
..    ...                                      ...          ...
209  2017                Least Developed Countries         2402
210  2017         Land Locked Developing Countries         2539
211  2017           Small Island Developing States         2685
212  2017        Low Income Food Deficit Countries         2505
213  2017  Net Food Importing Developing Countries         2527

[214 rows x 3 columns]

##### Finding the unique countries in food supply data

In [5641]:
df_food_supply_countries = df2017_food_supply.Country.unique()

### Extract minimum calorie intake data for 2018

In [5642]:
df_min_cal_intake = pd.read_csv("DDW_Min Cal Intake.csv")
df_min_cal_intake = df_min_cal_intake[df_min_cal_intake["Value"].notna()]
df2017_min_cal = df_min_cal_intake[(df_min_cal_intake["Year"] == 2017)]
df2017_min_cal = df2017_min_cal[["Year", "Area", "Value"]]
df2017_min_cal = df2017_min_cal.rename(columns = {"Area": "Country", "Value":"Mininum_calorie_intake"})
df2017_min_cal = df2017_min_cal.reset_index(drop=True)
df2017_min_cal

     Year                             Country  Mininum_calorie_intake
0    2017                         Afghanistan                  1676.0
1    2017                             Albania                  1911.0
2    2017                             Algeria                  1781.0
3    2017                              Angola                  1659.0
4    2017                 Antigua and Barbuda                  1888.0
..    ...                                 ...                     ...
183  2017                             Vanuatu                  1695.0
184  2017  Venezuela (Bolivarian Republic of)                  1817.0
185  2017                            Viet Nam                  1785.0
186  2017                               Yemen                  1703.0
187  2017                            Zimbabwe                  1734.0

[188 rows x 3 columns]

##### Finding the unique countries in minimum calorie intake data

In [5643]:
df_min_cal_intake_countries = df2017_min_cal.Country.unique()

### Extract GDP per capita data for 2018

In [5644]:
df_GDP = pd.read_csv("DDW_GDP per capita adjusted.csv")
df_GDP = df_GDP[(df_GDP["Value"].notna())]
df2017_GDP = df_GDP[(df_GDP["Year"])==2017]
df2017_GDP = df2017_GDP[["Year","Area","Value"]]
df2017_GDP = df2017_GDP.rename(columns = {"Area": "Country", "Value":"GDP_per_capita_adjusted_for_PPP"})
df2017_GDP = df2017_GDP.reset_index(drop=True)
df2017_GDP

     Year              Country  GDP_per_capita_adjusted_for_PPP
0    2017          Afghanistan                           2058.4
1    2017              Albania                          12771.0
2    2017              Algeria                          11737.4
3    2017               Angola                           7310.9
4    2017  Antigua and Barbuda                          19840.3
..    ...                  ...                              ...
182  2017           Uzbekistan                           6840.7
183  2017              Vanuatu                           3081.5
184  2017             Viet Nam                           8996.4
185  2017               Zambia                           3485.0
186  2017             Zimbabwe                           3795.6

[187 rows x 3 columns]

#### List of unique countries for GDP per capita data

In [5645]:
df_GDP_countries = df2017_GDP.Country.unique()

### Extract population data for 2018

In [5646]:
df_pop = pd.read_csv("DDW_Population.csv")
# df_pop = df_pop.dropna()
df2017_population = df_pop[(df_pop["year"]==2017)]
df2017_population = df2017_population[df2017_population["population"].notna()]
df2017_population = df2017_population[["year", "country", "population"]]
df2017_population = df2017_population.rename(columns = {"year": "Year", "country": "Country", "population":"Population"})
df2017_population = df2017_population.reset_index(drop=True)
df2017_population

     Year            Country    Population
0    2017        Afghanistan  3.629611e+07
1    2017             Africa  1.244222e+09
2    2017            Albania  2.884169e+06
3    2017            Algeria  4.138918e+07
4    2017            Andorra  7.699700e+04
..    ...                ...           ...
226  2017  Wallis and Futuna  1.189400e+04
227  2017              World  7.548173e+09
228  2017              Yemen  2.783481e+07
229  2017             Zambia  1.685361e+07
230  2017           Zimbabwe  1.423660e+07

[231 rows x 3 columns]

#### Getting unique countries for population data

In [5647]:
df_pop_coutries = df2017_population.Country.unique()

### Extract land area used for agriculture data for 2018

In [5648]:
df_agriculture = pd.read_csv("DDW_Agricultural Land.csv")
# remove rows with no value (NaN)
df2017_agriculture = df_agriculture[["Country Name","2017"]]
df2017_agriculture = df2017_agriculture[df2017_agriculture["2017"].notna()]
df2017_agriculture = df2017_agriculture.rename(columns = {"Country Name": "Country", "2017":"Agriculture_land_area"})
df2017_agriculture = df2017_agriculture.reset_index(drop=True)
df2017_agriculture

                         Country  Agriculture_land_area
0                          Aruba                  20.00
1    Africa Eastern and Southern             6538552.75
2                    Afghanistan              379100.00
3     Africa Western and Central             3589797.00
4                         Angola              563974.30
..                           ...                    ...
252                        Samoa                 620.00
253                  Yemen, Rep.              234520.00
254                 South Africa              963410.00
255                       Zambia              238360.00
256                     Zimbabwe              162000.00

[257 rows x 2 columns]

#### Getting unique countries for Agriculture data

In [5649]:
df_agriculture_countries = df2017_agriculture.Country.unique()

### Extract CO2 (in million metric tonnes) data for 2018

In [5650]:
df_co2 = pd.read_csv("DDW_CO2.csv")
df2017_co2 = df_co2[(df_co2["year"])==2017]
df2017_co2 = df2017_co2[df2017_co2["co2"].notna()]
df2017_co2 = df2017_co2[["year","country","co2"]]
df2017_co2 = df2017_co2.rename(columns = {"year": "Year", "country": "Country"})
df2017_co2 = df2017_co2.reset_index(drop=True)
df2017_co2

     Year            Country        co2
0    2017        Afghanistan      6.860
1    2017             Africa   1384.372
2    2017            Albania      5.302
3    2017            Algeria    154.936
4    2017            Andorra      0.465
..    ...                ...        ...
232  2017  Wallis and Futuna      0.026
233  2017              World  35925.738
234  2017              Yemen      9.951
235  2017             Zambia      6.517
236  2017           Zimbabwe      9.582

[237 rows x 3 columns]

#### Getting unique countries for $CO_{2}$ data

In [5651]:
df_co2_countries = df2017_co2.Country.unique()

### Extract basic water drinking services data for 2018

In [5652]:
df_water = pd.read_csv("DDW_Basic Water Drinking Services.csv")
df_water = df_water[df_water["Value"].notna()]
df2017_water = df_water[(df_water["Year"] == 2017)]
df2017_water = df2017_water[["Year", "Area", "Value"]]
df2017_water = df2017_water.rename(columns = {"Area": "Country", "Value": "Percentage_of_population_with_basic_water_service"})
df2017_water = df2017_water.reset_index(drop=True)
df2017_water

,Year,Country,Percentage_of_population_with_basic_water_service
0,2017,Afghanistan,66.8
1,2017,Albania,94.1
2,2017,Algeria,93.8
3,2017,American Samoa,99.0
4,2017,Andorra,99.0
...,...,...,...
232,2017,Small Island Developing States,83.1
233,2017,Low income economies,56.5
234,2017,Lower-middle-income economies,86.5
235,2017,High-income economies,99.0
236,2017,Upper-middle-income economies,94.2

#### Getting unique countries for basic water drinking services data

In [5653]:
df_water_countries = df2017_water.Country.unique()

### Extract Eating Disorder data for 2018

In [5654]:
df_eating_disorder = pd.read_csv("DDW_Eating Disorder.csv")
df_eating_disorder = df_eating_disorder[df_eating_disorder["Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)"].notna()]
df_eating_disorder = df_eating_disorder.rename(columns = {"Entity": "Country", "Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)":"Prevalence"})
df2017_eating_disorder = df_eating_disorder[(df_eating_disorder["Year"] == 2017)]
df2017_eating_disorder = df2017_eating_disorder[["Year", "Country", "Prevalence"]]
df2017_eating_disorder = df2017_eating_disorder.rename(columns = {"Prevalence": "Percentage_of_population_with_eating_disorder"})
df2017_eating_disorder = df2017_eating_disorder.reset_index(drop=True)
df2017_eating_disorder

,Year,Country,Percentage_of_population_with_eating_disorder
0,2017,Afghanistan,0.12
1,2017,African Region (WHO),0.11
2,2017,Albania,0.14
3,2017,Algeria,0.22
4,2017,American Samoa,0.14
...,...,...,...
223,2017,World Bank Lower Middle Income,0.13
224,2017,World Bank Upper Middle Income,0.17
225,2017,Yemen,0.14
226,2017,Zambia,0.12
227,2017,Zimbabwe,0.10

#### Getting unique countries for eating disorder data

In [5655]:
df_eating_disorder_countries = df2017_eating_disorder.Country.unique()

### Extract number of people employed in agriculture data for 2018

In [5656]:
df_employment = pd.read_csv("DDW_Employment In Agriculture.csv")
df_employment = df_employment[df_employment["Value"].notna()]
df2017_employement = df_employment[(df_employment["Year"] == 2017)]
df2017_employement = df2017_employement[["Year", "Area", "Value"]]
df2017_employement["Value"] = df2017_employement["Value"]*1000
df2017_employement = df2017_employement.rename(columns = {"Area": "Country", "Value":"Number_of_people_employed_in_agriculture_forestry_fishery"})
df2017_employement = df2017_employement.reset_index(drop=True)
df2017_employement

,Year,Country,Number_of_people_employed_in_agriculture_forestry_fishery
0,2017,Afghanistan,2740235.0
1,2017,Albania,453779.0
2,2017,Algeria,1102072.0
3,2017,Argentina,6840.0
4,2017,Armenia,317111.0
...,...,...,...
111,2017,Uruguay,143717.0
112,2017,Uzbekistan,3671300.0
113,2017,Venezuela (Bolivarian Republic of),1166489.0
114,2017,Viet Nam,21564822.0
115,2017,Zambia,680304.0

#### Getting unique countries for population employed

In [5657]:
df_employment_countries = df2017_employement.Country.unique()

### Create list of common countries

In [5658]:
countries = []
for i in df_food_supply_countries:
    if i in df_min_cal_intake_countries and i in df_GDP_countries and i in df_pop_coutries and i in df_agriculture_countries and i in df_co2_countries and i in df_water_countries and i in df_eating_disorder_countries and i in df_employment_countries:
        countries.append(i)
print("Countries", countries)
print("Length of list", len(countries))

Countries ['Afghanistan', 'Albania', 'Algeria', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Burundi', 'Cambodia', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Myanmar', 'Nepal', 'Netherlands', 'New Zealand', 'North Macedonia', 'Norway', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Rwanda', 'Samoa', 'Serbia', 'Seychelles', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Thailand', 'Togo', 'Tunisia', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay', 'Uzbekistan']
Length of list 90

### With the list of common countries, we are now able to continue combining our dataframes ...

### Calculate food supply to mininum calorie intake ratio 
done by finding (food supply)/(mininum calorie intake)

In [5659]:
df2017_food_supply = df2017_food_supply[df2017_food_supply["Country"].isin(countries)]
df2017_min_cal = df2017_min_cal[df2017_min_cal["Country"].isin(countries)]

df2017_y_value = df2017_food_supply.copy()
df2017_y_value["Mininum_calorie_intake"] = list(df2017_min_cal["Mininum_calorie_intake"])
df2017_y_value["y_ratio"] = df2017_y_value["Food_supply"]/df2017_y_value["Mininum_calorie_intake"]
df2017_y_value = df2017_y_value.reset_index(drop=True)
df2017_y_value

    Year               Country  Food_supply  Mininum_calorie_intake   y_ratio
0   2017           Afghanistan         2303                  1676.0  1.374105
1   2017               Albania         3326                  1911.0  1.740450
2   2017               Algeria         3383                  1781.0  1.899495
3   2017               Armenia         3072                  1875.0  1.638400
4   2017             Australia         3404                  1911.0  1.781266
..   ...                   ...          ...                     ...       ...
85  2017                Uganda         2030                  1693.0  1.199055
86  2017               Ukraine         3062                  1908.0  1.604822
87  2017  United Arab Emirates         3074                  2045.0  1.503178
88  2017               Uruguay         3158                  1861.0  1.696937
89  2017            Uzbekistan         3197                  1839.0  1.738445

[90 rows x 5 columns]

### Calculate Agriculture Land per capita (in $\textrm{m}^2$ per capita)

In [5660]:
df2017_agriculture = df2017_agriculture[df2017_agriculture["Country"].isin(countries)]
df2017_population = df2017_population[df2017_population["Country"].isin(countries)]

df2017_agriculture_per_pop = df2017_agriculture.copy()
df2017_agriculture_per_pop["Total_Population"] = list(df2017_population["Population"])
df2017_agriculture_per_pop["Agricultural_Land_Per_Capita"] = (df2017_agriculture_per_pop["Agriculture_land_area"]/df2017_agriculture_per_pop["Total_Population"])*1000000
df2017_agriculture_per_pop = df2017_agriculture_per_pop.reset_index(drop=True)
df2017_agriculture_per_pop

,Country,Agriculture_land_area,Total_Population,Agricultural_Land_Per_Capita
0,Afghanistan,379100.00,36296108.0,10444.646021
1,Albania,11742.81,2884169.0,4071.470847
2,United Arab Emirates,3838.00,41389176.0,92.729558
3,Armenia,16761.00,2944789.0,5691.749052
4,Australia,3718370.00,24584620.0,151247.812657
...,...,...,...,...
85,Ukraine,414890.00,41166588.0,10078.318854
86,Uruguay,142229.00,44487708.0,3197.040405
87,Uzbekistan,255332.00,9487206.0,26913.297761
88,Samoa,620.00,3436645.0,180.408509
89,South Africa,963410.00,31959774.0,30144.455965

### Calculate percentage of population employed in the agriculture industry

In [5661]:
df2017_employement = df2017_employement[df2017_employement["Country"].isin(countries)]
df2017_population = df2017_population[df2017_population["Country"].isin(countries)]

df2017_percentage_employed = df2017_employement.copy()
df2017_percentage_employed["Total_Population"] = list(df2017_population["Population"])
df2017_percentage_employed["Percentage_of_population_employed_in_agriculture_forestry_fishery"] = (df2017_percentage_employed["Number_of_people_employed_in_agriculture_forestry_fishery"]/df2017_percentage_employed["Total_Population"])*100
df2017_percentage_employed = df2017_percentage_employed.reset_index(drop=True)
df2017_percentage_employed

,Year,Country,Number_of_people_employed_in_agriculture_forestry_fishery,Total_Population,Percentage_of_population_employed_in_agriculture_forestry_fishery
0,2017,Afghanistan,2740235.0,36296108.0,7.549666
1,2017,Albania,453779.0,2884169.0,15.733440
2,2017,Algeria,1102072.0,41389176.0,2.662706
3,2017,Armenia,317111.0,2944789.0,10.768547
4,2017,Australia,318393.0,24584620.0,1.295090
...,...,...,...,...,...
85,2017,Uganda,4095242.0,41166588.0,9.947975
86,2017,Ukraine,2489400.0,44487708.0,5.595703
87,2017,United Arab Emirates,65857.0,9487206.0,0.694166
88,2017,Uruguay,143717.0,3436645.0,4.181898
89,2017,Uzbekistan,3671300.0,31959774.0,11.487253

### Calculate co2 per agricultural land (in kg per m^2)

In [5662]:
df2017_co2 = df2017_co2[df2017_co2["Country"].isin(countries)]
df2017_agriculture = df2017_agriculture[df2017_agriculture["Country"].isin(countries)]


df2017_co2_per_land = df2017_co2.copy()
df2017_co2_per_land["Agricultural_land"] = list(df2017_agriculture["Agriculture_land_area"])
df2017_co2_per_land["co2_per_agricultural_land_area"] = (df2017_co2_per_land["co2"]/df2017_co2_per_land["Agricultural_land"])*1000
df2017_co2_per_land = df2017_co2_per_land.reset_index(drop=True)
df2017_co2_per_land

,Year,Country,co2,Agricultural_land,co2_per_agricultural_land_area
0,2017,Afghanistan,6.860,379100.00,0.018095
1,2017,Albania,5.302,11742.81,0.451510
2,2017,Algeria,154.936,3838.00,40.368942
3,2017,Armenia,5.537,16761.00,0.330350
4,2017,Australia,414.751,3718370.00,0.111541
...,...,...,...,...,...
85,2017,Uganda,5.374,414890.00,0.012953
86,2017,Ukraine,223.085,142229.00,1.568492
87,2017,United Arab Emirates,168.831,255332.00,0.661221
88,2017,Uruguay,6.163,620.00,9.940323
89,2017,Uzbekistan,107.153,963410.00,0.111223

### Filtering the rest of the dataframes needed based on the list of common countries

In [5663]:
df2017_GDP = df2017_GDP[df2017_GDP["Country"].isin(countries)]
df2017_GDP = df2017_GDP.reset_index(drop=True)
df2017_water = df2017_water[df2017_water["Country"].isin(countries)]
df2017_water = df2017_water.reset_index(drop=True)
df2017_eating_disorder = df2017_eating_disorder[df2017_eating_disorder["Country"].isin(countries)]
df2017_eating_disorder = df2017_eating_disorder.reset_index(drop=True)

### Combining all the variables into 1 data frame, filtering the data based on the countries available in countries list

In [5664]:
df2017_combined = df2017_y_value.loc[:, ["Country", "y_ratio"]]
df2017_combined["GDP_per_capita_adjusted_for_PPP"] = df2017_GDP.loc[:, "GDP_per_capita_adjusted_for_PPP"]
df2017_combined["Agricultural_land_per_capita"] = df2017_agriculture_per_pop.loc[:, "Agricultural_Land_Per_Capita"]
df2017_combined["Percentage_of_population_with_basic_water_service"] = df2017_water.loc[:, "Percentage_of_population_with_basic_water_service"]
df2017_combined["Percentage_of_population_with_eating_disorder"] = df2017_eating_disorder.loc[:, "Percentage_of_population_with_eating_disorder"]
df2017_combined["Percentage_of_population_employed_in_agriculture_forestry_fishery"] = df2017_percentage_employed.loc[:, "Percentage_of_population_employed_in_agriculture_forestry_fishery"]
df2017_combined["co2_per_agricultural_land_area"] = df2017_co2_per_land.loc[:, "co2_per_agricultural_land_area"]
df2017_combined = df2017_combined.reset_index(drop=True)
df2017_combined

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area
0,Afghanistan,1.374105,2058.4,10444.646021,66.8,0.12,7.549666,0.018095
1,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510
2,Algeria,1.899495,11737.4,92.729558,93.8,0.22,2.662706,40.368942
3,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350
4,Australia,1.781266,48398.5,151247.812657,99.0,1.11,1.295090,0.111541
...,...,...,...,...,...,...,...,...
85,Uganda,1.199055,2074.7,10078.318854,51.0,0.10,9.947975,0.012953
86,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492
87,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221
88,Uruguay,1.696937,23009.9,180.408509,99.0,0.38,4.181898,9.940323
89,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223

In [5665]:
#df2017_combined.to_csv("df2017_combined_v1.csv")

In [5666]:
f2 = df2017_combined.Country.unique()
print(f2)

['Afghanistan' 'Albania' 'Algeria' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Burundi' 'Cambodia'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Cyprus' 'Czechia' 'Denmark'
 'Djibouti' 'Dominican Republic' 'Ecuador' 'El Salvador' 'Estonia'
 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala'
 'Honduras' 'Hungary' 'Iceland' 'Indonesia' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kuwait' 'Latvia' 'Lithuania'
 'Luxembourg' 'Malaysia' 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Myanmar' 'Nepal' 'Netherlands' 'New Zealand'
 'North Macedonia' 'Norway' 'Panama' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Romania' 'Rwanda' 'Samoa' 'Serbia' 'Seychelles'
 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka' 'Sweden' 'Switzerland'
 'Thailand' 'Togo' 'Tunisia' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'Uruguay' 'Uzbekistan']

### Remove outliers and normalise data using min-max normalisation

In [5667]:
def identify_outlier(dataframe, i):
    q3 = dataframe[i].quantile(q=0.75)
    q1 = dataframe[i].quantile(q=0.25)
    IQR = q3 - q1
    upper_outlier = q3 + 1.5*IQR
    lower_outlier = q1 - 1.5*IQR
    return upper_outlier, lower_outlier

def normalization(dfin):
    dfout = dfin.copy()
    dfout = (dfin - dfin.min(axis = 0)) / (dfin.max(axis = 0) - dfin.min(axis = 0))
    return dfout

def standardization(dfin):
    dfout = (dfin - dfin.mean(axis=0))/dfin.std(axis=0)
    return dfout

In [5668]:
def drop_outlier_value(df, column, outlier_value):
    return df[column] <= outlier_value[0] and df[column] >= outlier_value[1]

## Before standardisation (keith clean)

In [5669]:
#df2017_combined_1 = df2017_combined.loc[(drop_outlier_value(df2017_combined, "GDP_per_capita_adjusted_for_PPP", outlier_value)), :]

df2017_combined_1 = df2017_combined.loc[(df2017_combined["GDP_per_capita_adjusted_for_PPP"] <= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[0]) &(df2017_combined["GDP_per_capita_adjusted_for_PPP"] >= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[1]), :]
df2017_combined_2 = df2017_combined.loc[(df2017_combined["Agricultural_land_per_capita"] <= identify_outlier(df2017_combined, "Agricultural_land_per_capita")[0]) &(df2017_combined["Agricultural_land_per_capita"] >= identify_outlier(df2017_combined, "Agricultural_land_per_capita")[1]), :]
df2017_combined_3 = df2017_combined.loc[(df2017_combined["Percentage_of_population_with_basic_water_service"] <= identify_outlier(df2017_combined, "Percentage_of_population_with_basic_water_service")[0]) &(df2017_combined["Percentage_of_population_with_basic_water_service"] >= identify_outlier(df2017_combined, "Percentage_of_population_with_basic_water_service")[1]), :]
df2017_combined_4 = df2017_combined.loc[(df2017_combined["Percentage_of_population_with_eating_disorder"] <= identify_outlier(df2017_combined, "Percentage_of_population_with_eating_disorder")[0]) &(df2017_combined["Percentage_of_population_with_eating_disorder"] >= identify_outlier(df2017_combined, "Percentage_of_population_with_eating_disorder")[1]), :]
df2017_combined_5 = df2017_combined.loc[(df2017_combined["Percentage_of_population_employed_in_agriculture_forestry_fishery"] <= identify_outlier(df2017_combined, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[0]) &(df2017_combined["Percentage_of_population_employed_in_agriculture_forestry_fishery"] >= identify_outlier(df2017_combined, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[1]), :]
df2017_combined_6 = df2017_combined.loc[(df2017_combined["co2_per_agricultural_land_area"] <= identify_outlier(df2017_combined, "co2_per_agricultural_land_area")[0]) &(df2017_combined["co2_per_agricultural_land_area"] >= identify_outlier(df2017_combined, "co2_per_agricultural_land_area")[1]), :]
df2017_combined_1
#df2017_combined_6 = df2017_combined.reset_index(drop=True)
#df2017_combined_6
#identify_outlier(df2017_combined_1, "GDP_per_capita_adjusted_for_PPP")

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area
0,Afghanistan,1.374105,2058.4,10444.646021,66.8,0.12,7.549666,0.018095
1,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510
2,Algeria,1.899495,11737.4,92.729558,93.8,0.22,2.662706,40.368942
3,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350
4,Australia,1.781266,48398.5,151247.812657,99.0,1.11,1.295090,0.111541
...,...,...,...,...,...,...,...,...
85,Uganda,1.199055,2074.7,10078.318854,51.0,0.10,9.947975,0.012953
86,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492
87,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221
88,Uruguay,1.696937,23009.9,180.408509,99.0,0.38,4.181898,9.940323
89,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223

#### List of countries left after removol of countries with outliers

In [5670]:
countries_1 = df2017_combined_1.Country.unique()
countries_2 = df2017_combined_2.Country.unique()
countries_3 = df2017_combined_3.Country.unique()
countries_4 = df2017_combined_4.Country.unique()
countries_5 = df2017_combined_5.Country.unique()
countries_6 = df2017_combined_6.Country.unique()

countries_norm = []
for i in countries_1:
    if i in countries_2 and i in countries_3 and i in countries_4 and i in countries_5 and i in countries_6:
        countries_norm.append(i)

print(len(countries_norm))

55

In [5671]:
df2017_normalized = df2017_combined[df2017_combined["Country"].isin(countries_norm)]
df2017_normalized = df2017_normalized.reset_index(drop=True)
df2017_normalized

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807
3,Azerbaijan,1.684748,14121.4,4852.561360,93.9,0.15,17.804040,0.768812
4,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505
5,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169
6,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059
7,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286
8,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648
9,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875
10,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388
11,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339
12,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097
13,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849
14,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319
15,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204
16,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743
17,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962
18,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100
19,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808
20,Georgia,1.468602,13589.7,5662.651173,97.0,0.13,18.357991,0.448458
21,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507
22,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242
23,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651
24,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694
25,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963
26,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236
27,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753
28,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925
29,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796
30,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332
31,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555
50,Thailand,1.467374,17423.0,3281.326073,99.0,0.14,17.025430,1.259181
51,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782
52,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492
53,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221
54,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223

## After normalization (keith clean)

In [5672]:
df2017_normalized["GDP_per_capita_adjusted_for_PPP_normalized"] = normalization(df2017_normalized["GDP_per_capita_adjusted_for_PPP"])
df2017_normalized["Agricultural_land_per_capita_normalized"] = standardization(df2017_normalized["Agricultural_land_per_capita"])
df2017_normalized["Percentage_of_population_with_basic_water_service_normalized"] = normalization(df2017_normalized["Percentage_of_population_with_basic_water_service"])
df2017_normalized["Percentage_of_population_with_eating_disorder_normalized"] = normalization(df2017_normalized["Percentage_of_population_with_eating_disorder"])
df2017_normalized["Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized"] = normalization(df2017_normalized["Percentage_of_population_employed_in_agriculture_forestry_fishery"])
df2017_normalized["co2_per_agricultural_land_area_normalized"] = standardization(df2017_normalized["co2_per_agricultural_land_area"])
df2017_normalized

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area,GDP_per_capita_adjusted_for_PPP_normalized,Agricultural_land_per_capita_normalized,Percentage_of_population_with_basic_water_service_normalized,Percentage_of_population_with_eating_disorder_normalized,Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized,co2_per_agricultural_land_area_normalized
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510,0.124094,-0.602205,0.524272,0.06,0.853414,-0.473730
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350,0.115253,-0.498374,1.000000,0.04,0.576116,-0.563200
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807,0.682193,-0.670239,1.000000,1.00,0.080696,1.128915
3,Azerbaijan,1.684748,14121.4,4852.561360,93.9,0.15,17.804040,0.768812,0.142298,-0.552151,0.504854,0.08,0.969061,-0.239420
4,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505,0.017920,-0.854955,0.844660,0.02,0.838324,2.132978
5,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169,0.164930,2.107831,0.951456,0.28,0.053330,-0.742038
6,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059,0.199381,-0.216114,0.757282,0.06,0.284405,-0.341881
7,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286,0.631903,-0.580881,1.000000,0.74,0.001067,0.652972
8,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648,0.048200,2.936370,0.902913,0.18,0.357740,-0.786729
9,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875,0.137342,0.760961,0.718447,0.06,0.231181,-0.617457
10,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388,0.281008,-0.316433,1.000000,0.56,0.206217,-0.413267
11,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339,0.142970,-0.214573,0.796117,0.24,0.394485,-0.678406
12,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097,0.226219,-0.632739,1.000000,0.28,0.263913,-0.462220
13,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849,0.468063,-0.797157,1.000000,0.66,0.020105,3.768149
14,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319,0.475301,-0.651073,1.000000,0.18,0.051479,1.449779
15,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204,0.698149,1.002357,1.000000,0.82,0.031474,-0.653398
16,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743,0.177534,-0.702724,0.757282,0.24,0.197659,-0.133135
17,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962,0.108550,-0.770381,0.543689,0.38,0.690328,0.386892
18,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100,0.407860,1.851927,1.000000,0.16,0.072578,-0.558954
19,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808,0.593186,2.194337,1.000000,0.82,0.068804,-0.681751
20,Georgia,1.468602,13589.7,5662.651173,97.0,0.13,18.357991,0.448458,0.135130,-0.500239,0.805825,0.04,1.000000,-0.475984
21,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507,0.667345,-0.640632,1.000000,0.70,0.010618,1.215092
22,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242,0.337535,-0.098091,1.000000,0.74,0.214240,-0.369069
23,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651,0.064124,-0.633776,0.407767,0.16,0.676452,-0.596208
24,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694,0.026917,-0.601049,0.533981,0.12,0.669388,-0.637529
25,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963,0.349616,-0.633257,1.000000,0.16,0.102504,0.239204
26,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236,0.099353,-0.712261,0.135922,0.00,0.772491,-0.125386
27,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753,1.000000,-0.257921,0.844660,0.76,0.104356,-0.163404
28,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925,0.479296,-0.717597,1.000000,0.60,0.000000,1.515209
29,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796,0.081350,1.950982,0.194175,0.18,0.359977,-0.762251
30,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332,0.086790,-0.797171,1.000000,0.18,0.014205,1.067273
31,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654,0.338461,0.993240,0.961165,0.14,0.150490,-0.712880
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652,0.539120,1.965408,1.000000,0.68,0.002743,-0.747588
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294,0.240617,-0.221530,1.000000,0.06,0.141765,-0.542565
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111,0.217784,-0.651517,0.990291,0.30,0.279554,0.017042
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266,0.000000,1.768272,0.000000,0.00,0.282574,-0.799565
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000,0.694535,0.630049,1.000000,0.62,0.032435,-0.504383
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551,0.163663,1.774972,0.864078,0.08,0.285958,-0.742494
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362,0.815346,-0.643026,1.000000,0.80,0.032052,0.994190
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145,0.362364,-0.709396,0.475728,0.36,0.326682,0.033312
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899,0.121661,-0.478549,1.000000,0.22,0.503099,-0.662485
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716,0.120529,-0.646193,0.262136,0.40,0.785062,-0.434440
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559,0.061411,-0.849691,0.407767,0.00,0.519574,3.714766
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280,0.357210,-0.449137,1.000000,0.18,0.220754,0.209900
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864,0.397384,-0.079256,1.000000,0.70,0.139938,-0.483069
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833,0.317814,-0.391577,1.000000,0.12,0.535885,-0.412939
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305,0.175857,0.107813,0.524272,0.08,0.279022,-0.555849
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753,0.444063,-0.491162,1.000000,0.18,0.117329,0.086930
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768,0.121575,-0.771778,0.271845,0.02,0.540430,-0.242406
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555,0.883457,-0.573615,1.000000,0.86,0.067604,-0.069029
50,Thailand,1.467374,17423.0,3281.326073,99.0,0.14,17.025430,1.259181,0.186803,-0.652839,1.000000,0.06,0.925574,0.122691
51,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782,0.103382,-0.055181,0.708738,0.22,0.223769,-0.657402
52,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492,0.111822,-0.658240,0.495146,0.04,0.287203,0.351100
53,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221,0.857576,0.861549,1.000000,0.40,0.013444,-0.318870
54,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223,0.044154,1.068609,0.883495,0.02,0.616257,-0.725014

In [5673]:
df2017_normalized = df2017_combined_6.copy()
df2017_normalized_1 = df2017_normalized.loc[(df2017_combined["GDP_per_capita_adjusted_for_PPP"] <= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[0]) &(df2017_combined["GDP_per_capita_adjusted_for_PPP"] >= identify_outlier(df2017_combined, "GDP_per_capita_adjusted_for_PPP")[1]), :]
df2017_combined_2 = df2017_combined_1.loc[(df2017_combined_1["Agricultural_land_per_capita"] <= identify_outlier(df2017_combined_1, "Agricultural_land_per_capita")[0]) &(df2017_combined_1["Agricultural_land_per_capita"] >= identify_outlier(df2017_combined_1, "Agricultural_land_per_capita")[1]), :]
df2017_combined_3 = df2017_combined_2.loc[(df2017_combined_2["Percentage_of_population_with_basic_water_service"] <= identify_outlier(df2017_combined_2, "Percentage_of_population_with_basic_water_service")[0]) &(df2017_combined_2["Percentage_of_population_with_basic_water_service"] >= identify_outlier(df2017_combined_2, "Percentage_of_population_with_basic_water_service")[1]), :]
df2017_combined_4 = df2017_combined_3.loc[(df2017_combined_3["Percentage_of_population_with_eating_disorder"] <= identify_outlier(df2017_combined_3, "Percentage_of_population_with_eating_disorder")[0]) &(df2017_combined_3["Percentage_of_population_with_eating_disorder"] >= identify_outlier(df2017_combined_3, "Percentage_of_population_with_eating_disorder")[1]), :]
df2017_combined_5 = df2017_combined_4.loc[(df2017_combined_4["Percentage_of_population_employed_in_agriculture_forestry_fishery"] <= identify_outlier(df2017_combined_4, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[0]) &(df2017_combined_4["Percentage_of_population_employed_in_agriculture_forestry_fishery"] >= identify_outlier(df2017_combined_4, "Percentage_of_population_employed_in_agriculture_forestry_fishery")[1]), :]
df2017_combined_6 = df2017_combined_5.loc[(df2017_combined_5["co2_per_agricultural_land_area"] <= identify_outlier(df2017_combined_5, "co2_per_agricultural_land_area")[0]) &(df2017_combined_5["co2_per_agricultural_land_area"] >= identify_outlier(df2017_combined_5, "co2_per_agricultural_land_area")[1]), :]
df2017_combined_6 = df2017_combined_6.reset_index(drop=True)
df2017_combined_6

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807
3,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505
4,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169
5,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059
6,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286
7,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648
8,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875
9,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388
10,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339
11,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097
12,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849
13,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319
14,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204
15,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743
16,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962
17,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100
18,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808
19,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507
20,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242
21,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651
22,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694
23,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963
24,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236
25,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753
26,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925
27,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796
28,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332
29,Kazakhstan,1.785518,24863.0,2457.961339,95.4,0.17,7.295344,6.928645
30,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654
31,Malaysia,1.563656,26661.5,943.685148,97.1,0.16,5.256448,8.536129
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555
50,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782
51,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492
52,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221
53,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223

In [5674]:
df2017_normalized = df2017_combined_6.copy()
df2017_normalized["GDP_per_capita_adjusted_for_PPP_normalized"] = normalization(df2017_normalized["GDP_per_capita_adjusted_for_PPP"])
df2017_normalized["Agricultural_land_per_capita_normalized"] = standardization(df2017_normalized["Agricultural_land_per_capita"])
df2017_normalized["Percentage_of_population_with_basic_water_service_normalized"] = normalization(df2017_normalized["Percentage_of_population_with_basic_water_service"])
df2017_normalized["Percentage_of_population_with_eating_disorder_normalized"] = normalization(df2017_normalized["Percentage_of_population_with_eating_disorder"])
df2017_normalized["Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized"] = normalization(df2017_normalized["Percentage_of_population_employed_in_agriculture_forestry_fishery"])
df2017_normalized["co2_per_agricultural_land_area_normalized"] = standardization(df2017_normalized["co2_per_agricultural_land_area"])
df2017_normalized

,Country,y_ratio,GDP_per_capita_adjusted_for_PPP,Agricultural_land_per_capita,Percentage_of_population_with_basic_water_service,Percentage_of_population_with_eating_disorder,Percentage_of_population_employed_in_agriculture_forestry_fishery,co2_per_agricultural_land_area,GDP_per_capita_adjusted_for_PPP_normalized,Agricultural_land_per_capita_normalized,Percentage_of_population_with_basic_water_service_normalized,Percentage_of_population_with_eating_disorder_normalized,Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized,co2_per_agricultural_land_area_normalized
0,Albania,1.740450,12771.0,4071.470847,94.1,0.14,15.733440,0.451510,0.124094,-0.599329,0.524272,0.06,1.000000,-0.483912
1,Armenia,1.638400,12115.1,5691.749052,99.0,0.13,10.768547,0.330350,0.115253,-0.496616,1.000000,0.04,0.675072,-0.548892
2,Austria,1.895630,54173.0,3009.806685,99.0,0.61,1.898298,2.621807,0.682193,-0.666630,1.000000,1.00,0.094557,0.680052
3,Bangladesh,1.424242,4894.6,127.312810,97.4,0.12,15.463252,3.981505,0.017920,-0.849358,0.844660,0.02,0.982318,1.409279
4,Barbados,1.525681,15800.4,46361.479794,98.5,0.25,1.408313,0.088169,0.164930,2.081526,0.951456,0.28,0.062490,-0.678777
5,Belarus,1.724101,18356.1,10096.396565,96.5,0.14,5.545609,0.630059,0.199381,-0.217396,0.757282,0.06,0.333256,-0.388153
6,Belgium,1.936280,50442.3,4404.228743,99.0,0.48,0.472567,1.977286,0.631903,-0.578235,1.000000,0.74,0.001250,0.334385
7,Belize,1.536544,7140.9,59290.799015,98.0,0.20,6.858626,0.027648,0.048200,2.901144,0.902913,0.18,0.419187,-0.711236
8,Bosnia and Herzegovina,1.698133,13753.8,25343.618773,96.1,0.14,4.592643,0.256875,0.137342,0.749158,0.718447,0.06,0.270889,-0.588297
9,Chile,1.609808,24411.5,8530.930185,99.0,0.39,4.145679,0.533388,0.281008,-0.316634,1.000000,0.56,0.241637,-0.439999
10,Colombia,1.609676,14171.3,10120.457550,96.9,0.23,7.516534,0.174339,0.142970,-0.215871,0.796117,0.24,0.462243,-0.632563
11,Costa Rica,1.601916,20347.0,3594.982177,99.0,0.25,5.178694,0.467097,0.226219,-0.629535,1.000000,0.28,0.309243,-0.475552
12,Cyprus,1.564882,38288.0,1029.257810,99.0,0.44,0.813437,6.195849,0.468063,-0.792182,1.000000,0.66,0.023558,2.596866
13,Czechia,1.685891,38824.9,3308.889589,99.0,0.20,1.375177,3.056319,0.475301,-0.647671,1.000000,0.18,0.060322,0.913088
14,Denmark,1.739375,55356.7,29110.596016,99.0,0.52,1.016996,0.208204,0.698149,0.987955,1.000000,0.82,0.036880,-0.614401
15,Dominican Republic,1.555556,16735.4,2502.874744,96.5,0.23,3.992453,0.912743,0.177534,-0.698766,0.757282,0.24,0.231610,-0.236546
16,Ecuador,1.439820,11617.9,1447.094718,94.3,0.30,12.813467,1.616962,0.108550,-0.765694,0.543689,0.38,0.808902,0.141138
17,Estonia,1.610056,33821.9,42368.096141,99.0,0.19,1.752933,0.336100,0.407860,1.828377,1.000000,0.16,0.085044,-0.545808
18,Finland,1.711282,47570.1,47711.404710,99.0,0.52,1.685370,0.169808,0.593186,2.167101,1.000000,0.82,0.080622,-0.634993
19,Germany,1.818275,53071.5,3471.818499,99.0,0.46,0.643568,2.738507,0.667345,-0.637342,1.000000,0.70,0.012441,0.742640
20,Greece,1.742252,28604.9,11938.143606,99.0,0.48,4.289334,0.593242,0.337535,-0.100644,1.000000,0.74,0.251039,-0.407899
21,Guatemala,1.495283,8322.2,3578.805009,92.9,0.19,12.565018,0.285651,0.064124,-0.630560,0.407767,0.16,0.792642,-0.572865
22,Honduras,1.500564,5562.0,4089.504143,94.2,0.17,12.438541,0.229694,0.026917,-0.598186,0.533981,0.12,0.784365,-0.602875
23,Hungary,1.697626,29501.1,3586.910429,99.0,0.19,2.288747,1.416963,0.349616,-0.630046,1.000000,0.16,0.120110,0.033875
24,Indonesia,1.678451,10935.6,2354.043841,90.1,0.11,14.284549,0.923236,0.099353,-0.708201,0.135922,0.00,0.905177,-0.230918
25,Ireland,2.017359,77749.2,9444.002995,97.4,0.49,2.321912,0.871753,1.000000,-0.258753,0.844660,0.76,0.122281,-0.258529
26,Israel,2.005062,39121.3,2270.784226,99.0,0.41,0.453465,3.144925,0.479296,-0.713479,1.000000,0.60,0.000000,0.960608
27,Jamaica,1.464153,9600.1,43913.856524,90.7,0.20,6.898681,0.060796,0.081350,1.926366,0.194175,0.18,0.421808,-0.693458
28,Jordan,1.517452,10003.6,1029.037875,99.0,0.20,0.707798,2.538332,0.086790,-0.792196,1.000000,0.18,0.016645,0.635283
29,Kazakhstan,1.785518,24863.0,2457.961339,95.4,0.17,7.295344,6.928645,0.287094,-0.701613,0.650485,0.12,0.447768,2.989876
30,Latvia,1.705196,28673.6,28968.318848,98.6,0.18,3.147921,0.127654,0.338461,0.978936,0.961165,0.14,0.176339,-0.657601
31,Malaysia,1.563656,26661.5,943.685148,97.1,0.16,5.256448,8.536129,0.311338,-0.797606,0.815534,0.10,0.314332,3.851995
32,Malta,1.776744,43559.3,44138.970395,99.0,0.45,0.502586,0.080652,0.539120,1.940637,1.000000,0.68,0.003215,-0.682809
33,Mauritius,1.619403,21415.1,10011.886149,99.0,0.14,2.991703,0.358294,0.240617,-0.222753,1.000000,0.06,0.166115,-0.533905
34,Mexico,1.724701,19721.3,3301.962036,98.9,0.26,5.458739,1.116111,0.217784,-0.648110,0.990291,0.30,0.327571,-0.127476
35,Nepal,1.667241,3565.2,41062.677159,88.7,0.11,5.512813,0.010266,0.000000,1.745624,0.000000,0.00,0.331110,-0.720558
36,Netherlands,1.659056,55088.6,23300.745229,99.0,0.42,1.034190,0.410000,0.694535,0.619656,1.000000,0.62,0.038006,-0.506174
37,North Macedonia,1.563117,15706.4,41167.226066,97.6,0.15,5.573402,0.087551,0.163663,1.752251,0.864078,0.08,0.335075,-0.679109
38,Norway,1.728250,64050.8,3434.457560,99.0,0.51,1.027335,2.439362,0.815346,-0.639711,1.000000,0.80,0.037557,0.582204
39,Panama,1.591139,30446.8,2398.754835,93.6,0.29,6.302554,1.138145,0.362364,-0.705366,0.475728,0.36,0.382794,-0.115659
40,Paraguay,1.506294,12590.5,6001.114305,99.0,0.22,9.461213,0.195899,0.121661,-0.477005,1.000000,0.22,0.589513,-0.621000
41,Peru,1.544693,12506.5,3385.033433,91.4,0.31,14.509629,0.504716,0.120529,-0.642844,0.262136,0.40,0.919908,-0.455377
42,Philippines,1.526980,8120.9,209.464566,92.9,0.11,9.756189,6.123559,0.061411,-0.844150,0.407767,0.00,0.608818,2.558096
43,Poland,1.814508,30064.5,6460.093880,99.0,0.20,4.405953,1.377280,0.357210,-0.447909,1.000000,0.18,0.258671,0.012593
44,Portugal,1.781609,33044.7,12232.071705,99.0,0.46,2.958985,0.438864,0.397384,-0.082011,1.000000,0.70,0.163974,-0.490694
45,Romania,1.852296,27141.9,7358.311295,99.0,0.17,10.048226,0.533833,0.317814,-0.390969,1.000000,0.12,0.627930,-0.439761
46,Serbia,1.471540,16611.0,15151.269765,94.1,0.15,5.449213,0.340305,0.175857,0.103043,0.524272,0.08,0.326947,-0.543553
47,Slovenia,1.666841,36507.6,5804.290609,99.0,0.20,2.554186,1.210753,0.444063,-0.489482,1.000000,0.18,0.137482,-0.076718
48,Sri Lanka,1.523328,12584.1,1425.296294,91.5,0.12,10.129601,0.764768,0.121575,-0.767076,0.271845,0.02,0.633256,-0.315907
49,Switzerland,1.727690,69103.6,4517.610818,99.0,0.54,1.663876,0.999555,0.883457,-0.571047,1.000000,0.86,0.079216,-0.189987
50,Tunisia,1.901540,11234.5,12607.756302,96.0,0.22,4.459936,0.202782,0.103382,-0.058195,0.708738,0.22,0.262204,-0.617309
51,Ukraine,1.604822,11860.6,3197.040405,93.8,0.13,5.595703,1.568492,0.111822,-0.654761,0.495146,0.04,0.336534,0.115143
52,United Arab Emirates,1.503178,67183.6,26913.297761,99.0,0.31,0.694166,0.661221,0.857576,0.848664,1.000000,0.40,0.015753,-0.371440
53,Uzbekistan,1.738445,6840.7,30144.455965,97.8,0.12,11.487253,0.111223,0.044154,1.053494,0.883495,0.02,0.722108,-0.666413

## Training 1st Model
- We will be defining some functions that we have used in class

In [5675]:
# def normalize_z(dfin):
#     dfout = (dfin - dfin.mean(axis=0))/dfin.std(axis=0)
#     return dfout

# def normalize_min_max(dfin):
#     dfout = (dfin - dfin.min(axis=0))/(dfin.max(axis=0) - dfin.min(axis=0))
#     return dfout

def get_features_targets(df, feature_names, target_names):
    df_feature = df.loc[:,feature_names]
    df_target = df.loc[:,target_names]
    return df_feature, df_target

def prepare_feature(df_feature):
    feature = df_feature.to_numpy().reshape(-1, len(df_feature.columns))
    X = np.concatenate((np.ones((feature.shape[0],1)),feature), axis = 1)
    return X

def prepare_target(df_target):
    target = df_target.to_numpy().reshape(-1, len(df_target.columns))
    return target

def predict(df_feature, beta):
    # Commented out normalising data as data cleaning already did it
    # feature_norm = normalize_z(df_feature)
    # X = prepare_feature(feature_norm)
    X = prepare_feature(df_feature)
    return np.matmul(X, beta)

def calc_linear(X, beta):
    return np.matmul(X, beta)

def split_data(df_feature, df_target, random_state=None, test_size=0.5):
    indexes = df_feature.index
    if random_state != None:
        np.random.seed(random_state)
    
    k = int(test_size*len(indexes))
    test_index = np.random.choice(indexes, k, replace = False)
    indexes = set(indexes)
    test_index = set(test_index)
    train_index = indexes - test_index
    
    df_feature_train = df_feature.loc[train_index,:]
    df_feature_test = df_feature.loc[test_index,:]
    
    df_target_train = df_target.loc[train_index,:]
    df_target_test = df_target.loc[test_index,:]
    return df_feature_train, df_feature_test, df_target_train, df_target_test

def r2_score(y, ypred):
    ymean = np.mean(y)
    diff = y-ymean
    sstot = np.matmul(diff.T, diff)
    error = y -ypred
    ssres = np.matmul(error.T,error)
    return 1 - ssres/sstot

def mean_squared_error(target, pred):
    n = target.shape[0]
    error = target - pred
    return (1/n)*np.matmul(error.T, error)[0][0]

def compute_cost(X, y, beta):
    J = 0
    m = X.shape[0]
    error = calc_linear(X,beta)-y
    error_sq = np.matmul(error.T,error)
    J = (1/(2*m)) * error_sq
    return J

def gradient_descent(X, y, beta, alpha, num_iters):
    m = X.shape[0]
    J_storage = np.zeros((num_iters,1))
    for n in range(num_iters):
        deriv = np.matmul(X.T,calc_linear(X,beta)-y)
        beta = beta - (alpha * (1/m)) * deriv
        J_storage[n] = compute_cost(X,y,beta)
    return beta, J_storage

### Considering Possible Removal of Features
- We will be using another metric to verify whether there is a good possible relationship between our features and the target. We decided to use Mean Absolute Error (MAE)
$$\large \textrm{MAE} = \frac{1}{n} \sum |y_i - x_i| %$$

In [5676]:
def mean_absolute_error(df,feature,target):
    x = df[feature].to_numpy()
    y = df[target].to_numpy()
    n = df.shape[0]
    error = np.abs((y-x))
    return (1/n) * (error.sum())

In [5677]:
def mean_absolute_error_percentage(df,feature,target):
    x = df[feature].to_numpy()
    y = df[target].to_numpy()
    n = df.shape[0]
    error = np.abs((y-x)/y)
    return ((1/n) * (error.sum())) / 100

#### Applying MAE on normalised 2017 data

In [5678]:
features = ['GDP_per_capita_adjusted_for_PPP_normalized','Agricultural_land_per_capita_normalized','Percentage_of_population_with_basic_water_service_normalized','Percentage_of_population_with_eating_disorder_normalized','Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized','co2_per_agricultural_land_area_normalized']
target = ['y_ratio']

print("MAE Data\n")
for feature in features:
    mae = mean_absolute_error(df2017_normalized,feature,target)
    print(f"\t{feature}: {mae}\n")

MAE Data

	GDP_per_capita_adjusted_for_PPP_normalized: 72.75138635198913

	Agricultural_land_per_capita_normalized: 95.96602977468756

	Percentage_of_population_with_basic_water_service_normalized: 46.50868631932304

	Percentage_of_population_with_eating_disorder_normalized: 72.65198729019681

	Percentage_of_population_employed_in_agriculture_forestry_fishery_normalized: 71.8842036105433

	co2_per_agricultural_land_area_normalized: 100.4320249206575

### Preparing the Data

#### Getting Features and Targets

In [ ]:
features_y = features.copy()
features_y.insert(0,"y_ratio")
features_y.insert(0,"Country")
df2017_normalized_only = df2017_normalized.loc[:,features_y]
print("First five data sets")
display(df2017_normalized_only.head())

In [ ]:
df2017_feature , df2017_target = get_features_targets(df2017_normalized_only,features,target)
# # df2017_feature is already normalisead
# # df2017_target was not normalised above
display(df2017_feature.describe())
display(df2017_target.describe())

#### Pair Plots

In [ ]:
# sns.set()
# myplot = sns.pairplot(data=df2017_normalised_only)

### Splitting the Data

In [ ]:
df2017_feature_train , df2017_feature_test ,df2017_target_train , df2017_target_test = split_data(df2017_feature,df2017_target)

### Cost Function

In [ ]:
X = prepare_feature(df2017_feature_train)
target = prepare_target(df2017_target_train)

beta = np.zeros((7,1))
J = compute_cost(X,target,beta)
print(J)

beta = np.ones((7,1))
J = compute_cost(X, target, beta)
print(J)

### Gradient Descent
- Using 1500 iterations and alpha of 0.01
- Also choosing the lower cost function

In [ ]:
iterations = 1500 # arbitrary value
alpha = 0.01 # arbitrary value
beta = np.ones((7,1))

beta , J_storage = gradient_descent(X,target,beta,alpha,iterations)
print(beta)

In [ ]:
plt.plot(J_storage)

### Running Predictions

In [ ]:
pred = predict(df_features_test,beta)

#### For 1st to 6th factor to test the model

In [5687]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)

In [ ]:
# plt.scatter(df2017_normalized_only[""],df_target_test)
# plt.scatter(df2017_normalized_only[""],pred)